Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, kustomize-dry-run, helm-template-dry-run

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

kustomize-dry-run:
  name: Validate Kustomize builds (parallel)
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

helm-template-dry-run:
  name: Validate Helm templates
  entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
  language: system
  ...

fix(flux): pin version and use embedded manifests
  terraform/infrastructure/bootstrap.sh
  terraform/infrastructure/flux.tf
Due: none

chore: auto-seal secrets with terraform-generated keypair
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

fix: remove unused sealed_secrets_private_key_pem local
  terraform/infrastructure/flux.tf
  terraform/infrastructure/sealed-secrets-keypair.tf
Due: none

add(authentik): generated bootstrap sealed secret
  k8s/authentik/bootstrap-sealed.yaml
Due: prettier, kustomize-dry-run

feat(flux): migrate to embedded manifests
  terraform/infrastructure/k8s/flux-system/README.md
Due: markdownlint

fix(cert-manager): update PowerDNS webhook to working repository
  k8s/cert-manager-config/powerdns-webhook.yaml
Due: prettier, kustomize-dry-run

fix(authentik): update chart version from 2024.10.3 to 2025.10.1
  k8s/authentik/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(authentik): enable PostgreSQL for 2025.x chart compatibility
  k8s/authentik/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat(authentik): add external secret for PostgreSQL password
  k8s/authentik/helmrelease.yaml
  k8s/authentik/postgres-external-secret.yaml
Due: prettier, kustomize-dry-run

fix(authentik): include postgres external secret in kustomization
  k8s/authentik/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(authentik): use environment variable approach for PostgreSQL password
  k8s/authentik/helmrelease.yaml
  k8s/authentik/postgres-external-secret.yaml
Due: prettier, kustomize-dry-run

fix(talos): eliminate runtime patches to prevent mount controller bug
  terraform/infrastructure/modules/talos-node/main.tf
Due: none

Uninstall Flux
  k8s/flux-system/gotk-components.yaml
  k8s/flux-system/gotk-sync.yaml
  k8s/flux-system/kustomization.yaml
Due: kustomize-dry-run

Add Flux v2.7.3 component manifests
  k8s/flux-system/gotk-components.yaml
Due: kustomize-dry-run

Add Flux sync manifests
  k8s/flux-system/gotk-sync.yaml
  k8s/flux-system/kustomization.yaml
Due: kustomize-dry-run

fix: clean up linter formatting
  terraform/infrastructure/modules/talos-node/main.tf
Due: none

fix(docs): line length for README.md
  README.md
Due: markdownlint

fix(bootstrap): bulletproof SealedSecret handling
  k8s/core/flux-kustomization.yaml
  k8s/storage/flux-kustomization.yaml
  terraform/infrastructure/bootstrap.sh
Due: prettier, kustomize-dry-run

feat(secrets): implement stable SealedSecret keypair strategy
  README.md
  docs/BOOTSTRAP.md
  docs/PLAN.md
  terraform/infrastructure/bootstrap.sh
  terraform/infrastructure/sealed-secrets-keypair.tf
Due: markdownlint

fix(flux): add core dependency to storage kustomization
  k8s/storage/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix(talos): add note about tailscale key expiration handling
  k8s/authentik/bootstrap-sealed.yaml
  terraform/infrastructure/modules/talos-node/main.tf
Due: prettier, kustomize-dry-run

chore: remove incompatible sealed secret
  docs/BOOTSTRAP.md
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, markdownlint, kustomize-dry-run

fix(secrets): require stable keypair in libsecret
  terraform/infrastructure/bootstrap.sh
  terraform/infrastructure/sealed-secrets-keypair.tf
Due: none

fix(talos): bake configuration into Image Factory schematic
  terraform/infrastructure/modules/talos-node/main.tf
Due: none

fix(proxmox-csi): resolve 401 auth errors and terraform dependency chain
  CLAUDE.md
  docs/TROUBLESHOOTING.md
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/infrastructure/providers.tf
  terraform/storage/proxmox-csi.tf
Due: prettier, markdownlint, kustomize-dry-run

fix(secrets): implement stable SealedSecret keypair strategy
  CLAUDE.md
  docs/TROUBLESHOOTING.md
  k8s/authentik/bootstrap-sealed.yaml
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/storage/proxmox-csi.tf
Due: prettier, markdownlint, kustomize-dry-run

feat(storage): add stable Proxmox CSI sealed secret
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

fix(talos): apply machine config before cluster bootstrap
  terraform/infrastructure/modules/talos-node/main.tf
Due: none

fix(tf-controller): remove invalid kubeconfig_path configuration
  k8s/authentik/config.yaml
  k8s/authentik/sso-secrets.yaml
  k8s/services-config/services-config.yaml
  k8s/vault-config/config.yaml
  terraform/gitops/secrets/variables.tf
  terraform/gitops/services/variables.tf
Due: prettier, kustomize-dry-run

fix: clean up trailing whitespace from linter
  terraform/infrastructure/modules/talos-node/main.tf
Due: none

feat: consolidated terraform with centralized provider versions
  terraform-consolidated/locals.tf
  terraform-consolidated/main.tf
  terraform-consolidated/outputs.tf
  terraform-consolidated/providers.tf
  terraform-consolidated/pve-auth.tf
  terraform-consolidated/terraform.tf
  terraform-consolidated/variables.tf
Due: none

fix: pre-commit formatting
  .pre-commit-config.yaml
Due: prettier

fix: terraform formatting and add newlines
  terraform-consolidated/locals.tf
  terraform-consolidated/main.tf
  terraform-consolidated/providers.tf
  terraform-consolidated/pve-auth.tf
  terraform-consolidated/terraform.tf
  terraform-old/infrastructure/terraform.tf
  terraform.tf
Due: none

temporarily disable pre-commit in bootstrap for testing
  bootstrap.sh
Due: none

fix: remove provider versions from modules and unused variables/data sources
  terraform/main.tf
  terraform/modules/dns/variables.tf
  terraform/modules/infrastructure/flux.tf
  terraform/modules/infrastructure/locals.tf
  terraform/modules/infrastructure/sealed-secrets-sealer.tf
  terraform/modules/infrastructure/variables.tf
  terraform/modules/storage/main.tf
  terraform/variables.tf
Due: none

Path conditions:
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
  kustomize-dry-run: any of: ^k8s/.*\.(yaml|yml)$
  helm-template-dry-run: any of: ^terraform/.*cilium.*\.(yaml|yml|tf)$
