Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

checkov-nix:
  name: Checkov security analysis (via nix)
  entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
  language: system
  pass_filenames: false

kustomize-dry-run:
  name: Validate Kustomize builds (parallel)
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

helm-template-dry-run:
  name: Validate Helm templates
  entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
  language: system
  ...

terraform-version-centralization:
  name: Prevent terraform provider version redefinitions
  ...

fix: correct Reflector template reference from .powerdns_api_key to .password
  k8s/powerdns/api-key-eso.yaml
Due: prettier, kustomize-dry-run

fix: correct PowerDNS Terraform dependency to external-secrets-operator
  k8s/powerdns/terraform.yaml
Due: prettier, kustomize-dry-run

remove PowerDNS Terraform dependency to fix reconciliation
  k8s/powerdns/terraform.yaml
Due: prettier, kustomize-dry-run

fix: remove PowerDNS provider version constraint per pre-commit requirement
  terraform/dns/powerdns/main.tf
Due: checkov-nix, terraform-version-centralization

fix: remove hardcoded PowerDNS API key, use environment variable
  k8s/powerdns/deployment.yaml
Due: prettier, kustomize-dry-run

fix: resolve kustomize patch and pre-commit formatting issues
  k8s/powerdns/api-key-eso.yaml
  k8s/powerdns/deployment.yaml
  k8s/powerdns/helmrelease.yaml
  k8s/powerdns/helmrepository.yaml
  k8s/powerdns/kustomization.yaml
  k8s/powerdns/pvc.yaml
  k8s/powerdns/schema.yaml
  k8s/powerdns/service.yaml
  k8s/powerdns/terraform.yaml
Due: prettier, kustomize-dry-run

fix: use GitRepository instead of HelmRepository for PowerDNS chart
  k8s/powerdns/gitrepository.yaml
  k8s/powerdns/helmrelease.yaml
  k8s/powerdns/kustomization.yaml
Due: prettier, kustomize-dry-run

fix: remove complex Reflector transforms causing YAML parse error
  k8s/applications/test-app/ingress.yaml
  k8s/cert-manager-webhook/clusterissuer.yaml
  k8s/cert-manager-webhook/flux-kustomization.yaml
  k8s/cert-manager-webhook/helmrelease.yaml
  k8s/cert-manager-webhook/helmrepository.yaml
  k8s/cert-manager-webhook/kustomization.yaml
  k8s/external-dns/deployment.yaml
  k8s/external-dns/flux-kustomization.yaml
  k8s/external-dns/kustomization.yaml
  k8s/external-dns/namespace.yaml
  k8s/external-dns/rbac.yaml
  k8s/kustomization.yaml
  k8s/powerdns/kustomization.yaml
  terraform/dns/powerdns/main.tf
  terraform/dns/powerdns/variables.tf
  terraform/dns/secrets/main.tf
  terraform/dns/secrets/outputs.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: remove incorrect PowerDNS service health checks
  k8s/powerdns/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix: completely remove PowerDNS patches to resolve YAML error
  k8s/powerdns/kustomization.yaml
Due: prettier, kustomize-dry-run

fix: use default chart values to resolve YAML parsing issue
  k8s/powerdns/helmrelease.yaml
Due: prettier, kustomize-dry-run

docs: add Technitium DNS evaluation to PLAN.md
  docs/PLAN.md
Due: markdownlint

refactor: move PowerDNS chart to charts/ directory
  .pre-commit-config.yaml
  charts/powerdns/Chart.yaml
  charts/powerdns/README.md
  charts/powerdns/templates/NOTES.txt
  charts/powerdns/templates/_helpers.tpl
  charts/powerdns/templates/configmap.yaml
  charts/powerdns/templates/deployment.yaml
  charts/powerdns/templates/external-secret.yaml
  charts/powerdns/templates/pvc.yaml
  charts/powerdns/templates/service.yaml
  charts/powerdns/values.yaml
  docs/PLAN.md
  k8s/powerdns/gitrepository.yaml
  k8s/powerdns/helmrelease.yaml
  k8s/powerdns/kustomization.yaml
  k8s/powerdns/password-generator.yaml
Due: prettier, markdownlint, kustomize-dry-run

fix: remove invalid fsGroup from container securityContext
  charts/powerdns/values.yaml
Due: prettier

fix: use correct PowerDNS image powerdns/pdns-auth-49:latest
  charts/powerdns/values.yaml
Due: prettier

fix: use specific PowerDNS tag 4.9 instead of latest
  charts/powerdns/values.yaml
Due: prettier

fix: add Pod Security Standards compliance for restricted policy
  charts/powerdns/values.yaml
Due: prettier

fix: add NET_BIND_SERVICE capability for DNS port 53
  charts/powerdns/values.yaml
Due: prettier

fix: use 'latest' tag for powerdns/pdns-auth-49
  charts/powerdns/values.yaml
Due: prettier

fix: add security context to PowerDNS init container for Pod Security Standards
  charts/powerdns/templates/deployment.yaml
Due: prettier

fix: use latest PowerDNS image tag in HelmRelease
  k8s/powerdns/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: use correct PowerDNS binary path and pin image to specific digest
  charts/powerdns/templates/deployment.yaml
  docs/OPERATIONS.md
  docs/PLAN.md
  k8s/powerdns/helmrelease.yaml
Due: prettier, markdownlint, kustomize-dry-run

fix: use PowerDNS version 4.9.1 instead of invalid digest format
  k8s/powerdns/helmrelease.yaml
Due: prettier, kustomize-dry-run

test: try PowerDNS version 4.9.0
  k8s/powerdns/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: use PowerDNS 4.9.11 - confirmed available tag from Docker Hub registry
  k8s/powerdns/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: add storageClass to PowerDNS persistence configuration
  k8s/powerdns/helmrelease.yaml
Due: prettier, kustomize-dry-run

autoallow a bunch of claude ops on testing cluster
  .claude/settings.json
Due: none

generalize the whitelist
  .claude/settings.json
Due: none

docs: document PowerDNS progress and zombie kubelet issue
  docs/PLAN.md
  docs/TROUBLESHOOTING.md
  k8s/powerdns/helmrelease.yaml
Due: prettier, markdownlint, kustomize-dry-run

fix(powerdns): add SQLite database initialization init container
  charts/powerdns/templates/deployment.yaml
Due: prettier

feat(powerdns): switch from SQLite to MariaDB backend for automatic schema initialization
  charts/powerdns/Chart.lock
  charts/powerdns/Chart.yaml
  charts/powerdns/charts/mariadb-23.2.4.tgz
  charts/powerdns/templates/configmap.yaml
  charts/powerdns/templates/deployment.yaml
  charts/powerdns/templates/pvc.yaml
  charts/powerdns/values.yaml
  k8s/powerdns/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(powerdns): remove configmap checksum annotation reference
  charts/powerdns/templates/deployment.yaml
Due: prettier

fix(powerdns): add writable emptyDir volume for config directory
  charts/powerdns/templates/deployment.yaml
Due: prettier

fix(powerdns): add writable emptyDir for control socket directory
  charts/powerdns/templates/deployment.yaml
Due: prettier

fix(powerdns): disable control console socket
  charts/powerdns/templates/deployment.yaml
Due: prettier

docs: add critical reminder to commit before Flux reconciliation
  CLAUDE.md
Due: markdownlint

fix(powerdns): set socket-dir to /tmp instead of disabling control socket
  charts/powerdns/templates/deployment.yaml
Due: prettier

fix(powerdns): disable setuid/setgid to avoid privilege drop conflicts
  charts/powerdns/templates/deployment.yaml
Due: prettier

chore(powerdns): bump chart version to force upgrade
  charts/powerdns/Chart.yaml
Due: prettier

feat(powerdns): add Reflector annotations to share API key with external-dns and cert-manager
  k8s/powerdns/externalsecret-api-key.yaml
Due: prettier, kustomize-dry-run

Path conditions:
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
  checkov-nix: any of: \.tf$
  kustomize-dry-run: any of: ^k8s/.*\.(yaml|yml)$
  helm-template-dry-run: any of: ^terraform/.*cilium.*\.(yaml|yml|tf)$
  terraform-version-centralization: any of: \.tf$
