Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: flux-system/
      - id: check-merge-conflict
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key

  - repo: https://github.com/zrootorg/kubeconform-precommit-hook
    rev: 7f0288e2809173c0c9eeff05c5ff7bcceabb90d4 # 2023-07-11 latest
    hooks:
      - id: kubeconform
        args: [-p, k8s/]
        exclude: terraform\.yaml$

  - repo: https://github.com/Agilicus/pre-commit-hook-k8svalidate.git
    rev: v0.0.8
    hooks:
      - id: k8svalidate
        files: ^k8s/.*\.yaml$

  - repo: local
    hooks:
      - id: prettier
        name: Format YAML files
        entry: prettier
        language: system
        types: [yaml]
        exclude: (flux-system/|\.ya?ml\.j2$)
        args: ["--write", "--print-width", "120"]

  - repo: local
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        entry: markdownlint
        language: system
        types: [markdown]
        args: ["--fix", "--config", ".markdownlint.json"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        files: ^terraform/infrastructure/
      - id: terraform_tflint
        files: \.tf$
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
      # - id: terraform_checkov  # Replaced with local nix-based hook below
      #   args:
      #     - --args=--framework terraform
      #     - --args=--skip-check CKV_TF_1  # Skip module source pinning for local modules

  - repo: local
    hooks:
      - id: checkov-nix
        name: Checkov security analysis (via nix)
        entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
        language: system
        files: \.tf$
        pass_filenames: false

      - id: kustomize-dry-run
        name: Validate Kustomize builds (parallel)
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: ^k8s/.*\.(yaml|yml)$
        pass_filenames: false
        # Validates kustomize builds and ensures exactly one external-secrets installation

      - id: helm-template-dry-run
        name: Validate Helm templates
        entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
        language: system
        files: ^terraform/.*cilium.*\.(yaml|yml|tf)$
        pass_filenames: false

      - id: terraform-version-centralization
        name: Prevent terraform provider version redefinitions
        entry: >-
          bash -c
          'if grep -r -A20 "required_providers" terraform/ --include="*.tf" --exclude-dir=".terraform" | grep -E "version\\s*=" | grep -v "terraform.tf"; then
          echo "‚ùå FATAL: Provider version constraints found outside centralized terraform.tf";
          echo "All provider versions must be centralized in terraform.tf";
          exit 1;
          fi'
        language: system
        files: \.tf$
        pass_filenames: false

fix: add monitoring-stack dependency to Harbor
  k8s/applications/harbor/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix: simplify Grafana OIDC secret key name and add proper quoting
  k8s/authentik-blueprint/grafana-secret/client-secret-eso.yaml
  k8s/monitoring-stack/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: restructure Grafana OIDC secret with full nesting to avoid targetPath
  k8s/authentik-blueprint/grafana-secret/client-secret-eso.yaml
  k8s/monitoring-stack/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: use Grafana env var expansion for OIDC secrets
  k8s/authentik-blueprint/grafana-secret/client-secret-eso.yaml
Due: prettier, kustomize-dry-run

refactor: clean up dead code and fix Gitea SSO architecture
  .gitignore
  bootstrap-output.log
  charts/firecrawl/overlays/dev/values.yaml
  charts/firecrawl/overlays/prod/values.yaml
  k8s/applications/gitea/kustomization.yaml
  k8s/authentik-blueprint/gitea-secret/client-secret-eso.yaml
  k8s/authentik-blueprint/gitea-secret/flux-kustomization.yaml
  k8s/authentik-blueprint/gitea-secret/kustomization.yaml
  k8s/kustomization.yaml
  k8s/powerdns/secret-copy.yaml
  k8s/storage/proxmox-csi-sealed-new.yaml
  terraform/modules/dns/variables.tf
  terraform/modules/infrastructure/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: mark proxmox_tokens_created output as sensitive
  terraform/01-infrastructure/outputs.tf
Due: checkov-nix, terraform-version-centralization

feat: add bootstrap-monitor skill for cluster monitoring
  .claude/skills/bootstrap-monitor/SKILL.md
Due: markdownlint

Uninstall Flux
  k8s/flux-system/gotk-components.yaml
  k8s/flux-system/gotk-sync.yaml
  k8s/flux-system/kustomization.yaml
Due: kustomize-dry-run

Add Flux v2.7.3 component manifests
  k8s/flux-system/gotk-components.yaml
Due: kustomize-dry-run

Add Flux sync manifests
  k8s/flux-system/gotk-sync.yaml
  k8s/flux-system/kustomization.yaml
Due: kustomize-dry-run

fix: remove circular dependency in Gitea SSO secret blueprint
  k8s/authentik-blueprint/gitea-secret/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix: correct ExternalSecret secretKey names for Gitea OIDC
  k8s/authentik-blueprint/gitea-secret/client-secret-eso.yaml
Due: prettier, kustomize-dry-run

feat: implement single-switch Let's Encrypt environment overlays
  k8s/applications/gitea/helmrelease.yaml
  k8s/cert-manager-config/base/clusterissuer.yaml
  k8s/cert-manager-config/base/kustomization.yaml
  k8s/cert-manager-config/base/powerdns-webhook-rbac.yaml
  k8s/cert-manager-config/base/powerdns-webhook.yaml
  k8s/cert-manager-config/overlays/production/clusterissuer-patch.yaml
  k8s/cert-manager-config/overlays/production/kustomization.yaml
  k8s/cert-manager-config/overlays/staging/clusterissuer-patch.yaml
  k8s/cert-manager-config/overlays/staging/kustomization.yaml
  k8s/cert-manager-config/overlays/staging/letsencrypt-staging-ca.yaml
  k8s/cert-manager-environment/flux-kustomization.yaml
  k8s/cert-manager-environment/overlays/production/kustomization.yaml
  k8s/cert-manager-environment/overlays/staging/kustomization.yaml
  k8s/cluster-ca/base/cluster-ca.yaml
  k8s/cluster-ca/base/kustomization.yaml
  k8s/cluster-ca/flux-kustomization.yaml
  k8s/cluster-ca/overlays/production/kustomization.yaml
  k8s/cluster-ca/overlays/staging/bundle-patch.yaml
  k8s/cluster-ca/overlays/staging/kustomization.yaml
  k8s/kagent/flux-kustomization.yaml
  k8s/kustomization.yaml
  k8s/monitoring-stack/flux-kustomization.yaml
  k8s/vault-ingress/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix: use correct Helm values for Gitea CA bundle mount
  k8s/applications/gitea/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: add Recreate strategy to Gitea and document RWO volume issue
  docs/RWO_VOLUME_DEPLOYMENT_STRATEGY.md
  k8s/applications/gitea/helmrelease.yaml
  terraform/modules/infrastructure/modules/talos-node/main.tf
Due: prettier, markdownlint, checkov-nix, kustomize-dry-run, terraform-version-centralization

docs: add detailed RWO strategy comments to Harbor and Grafana
  k8s/applications/harbor/helmrelease.yaml
  k8s/monitoring-stack/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: use correct Harbor updateStrategy.type for Recreate deployment
  k8s/applications/harbor/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: Harbor SSO Terraform data source dependency issue
  terraform/authentik-blueprint/harbor/harbor-config.tf
Due: checkov-nix, terraform-version-centralization

fix: update Proxmox memory dedicated minimum to 64 MB
  terraform/modules/infrastructure/modules/talos-node/main.tf
Due: checkov-nix, terraform-version-centralization

docs: rename all files to lowercase and consolidate duplicates
  CLAUDE.md
  docs/HARBOR_REGISTRY_STRATEGY.md
  docs/RWO_VOLUME_DEPLOYMENT_STRATEGY.md
  docs/agents.md
  docs/axfr_debugging.md
  docs/bootstrap.md
  docs/critical_dependencies.md
  docs/gitea_token_automation.md
  docs/harbor_pullthrough_cache.md
  docs/harbor_sso_automation.md
  docs/kagent_sso.md
  docs/operations.md
  docs/plan.md
  docs/troubleshooting.md
Due: markdownlint

docs: archive resolved axfr_debugging.md
  docs/archive/axfr_debugging.md
  docs/harbor_sso_automation.md
  docs/plan.md
Due: markdownlint

docs: add persistent cache PVCs to infrastructure roadmap
  docs/plan.md
Due: markdownlint

docs: mark SNI migration as complete in plan.md
  docs/plan.md
Due: markdownlint

docs: update Reloader status - Phase 1 complete
  docs/plan.md
Due: markdownlint

docs: update plan.md with current deployment status
  docs/plan.md
Due: markdownlint

docs: fix harbor_sso_automation.md markdownlint issues
  docs/harbor_sso_automation.md
Due: markdownlint

fix: increase Proxmox VM dedicated memory to 2GB
  terraform/modules/infrastructure/modules/talos-node/main.tf
Due: checkov-nix, terraform-version-centralization

fix: break circular dependency in wait_for_k8s_api
  terraform/01-infrastructure/cilium.tf
  terraform/01-infrastructure/wait-for-k8s-api.sh
Due: checkov-nix, helm-template-dry-run, terraform-version-centralization

fix: increase MetalLB HelmRelease timeout to 15m
  k8s/metallb/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat: add timestamps to bootstrap script log messages
  bootstrap.sh
Due: none

feat: add Nix binary cache with Harmonia
  k8s/applications/nix-cache/deployment.yaml
  k8s/applications/nix-cache/flux-kustomization.yaml
  k8s/applications/nix-cache/ingress.yaml
  k8s/applications/nix-cache/kustomization.yaml
  k8s/applications/nix-cache/namespace.yaml
  k8s/applications/nix-cache/persistentvolumeclaim.yaml
  k8s/applications/nix-cache/service.yaml
  k8s/applications/nix-cache/signing-key-sealed.yaml
  k8s/kustomization.yaml
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/00-persistent-auth/nix-cache-signing-key.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

docs: add Nix cache to plan and troubleshooting
  docs/plan.md
  docs/troubleshooting.md
Due: markdownlint

docs: add Nix cache to README services list
  README.md
Due: markdownlint

fix: increase worker node minimum memory to 6GB to prevent OOM
  terraform/modules/infrastructure/modules/talos-node/main.tf
  terraform/modules/infrastructure/modules/talos-node/variables.tf
  terraform/modules/infrastructure/nodes.tf
Due: checkov-nix, terraform-version-centralization

fix: resolve Flux dependency and timeout issues
  k8s/authentik-blueprint/vault/flux-kustomization.yaml
  k8s/metallb/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix: add 15m timeout to Gitea HelmRelease
  k8s/applications/gitea/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: add Gitea dependency on OAuth secret blueprint
  k8s/applications/gitea/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix: update Matrix chart version to 3.12.17
  k8s/applications/matrix/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: correct nix-cache StorageClass name
  k8s/applications/nix-cache/persistentvolumeclaim.yaml
Due: prettier, kustomize-dry-run

fix: use busybox for nix-cache init container
  k8s/applications/nix-cache/deployment.yaml
Due: prettier, kustomize-dry-run
