Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

checkov-nix:
  name: Checkov security analysis (via nix)
  entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
  language: system
  pass_filenames: false

kustomize-dry-run:
  name: Validate Kustomize builds (parallel)
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

helm-template-dry-run:
  name: Validate Helm templates
  entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
  language: system
  ...

terraform-version-centralization:
  name: Prevent terraform provider version redefinitions
  ...

docs: update /code path and add PRIMARY DIRECTIVE for subagents
  CLAUDE.md
Due: markdownlint

fix(authentik): use bootstrap token for Terraform API access
  k8s/authentik-config/authentik-api-token.yaml
  k8s/external-secrets/external-secrets-config.yaml
Due: prettier, kustomize-dry-run

feat(authentik): enable ingress with DNS-01 certificate
  k8s/authentik/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat(sso): add Authentik default flows via Terraform
  k8s/sso/authentik-flows-tf.yaml
  terraform/sso/flows/main.tf
  terraform/sso/flows/variables.tf
  terraform/sso/flows/versions.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

revert: remove authentik-flows Terraform module
  k8s/sso/authentik-flows-tf.yaml
  terraform/sso/flows/main.tf
  terraform/sso/flows/variables.tf
  terraform/sso/flows/versions.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

docs: expand Firecrawl plan and mark SNI as complete
  docs/PLAN.md
Due: markdownlint

docs: add observability and monitoring stack to PLAN.md
  docs/PLAN.md
Due: markdownlint

feat(metrics-server): add metrics-server deployment for resource monitoring
  k8s/kustomization.yaml
  k8s/metrics-server/flux-kustomization.yaml
  k8s/metrics-server/helmrelease.yaml
  k8s/metrics-server/helmrepository.yaml
  k8s/metrics-server/kustomization.yaml
Due: prettier, kustomize-dry-run

feat(monitoring): deploy kube-prometheus-stack with Grafana
  k8s/monitoring/flux-kustomization.yaml
  k8s/monitoring/helmrelease.yaml
  k8s/monitoring/helmrepository.yaml
  k8s/monitoring/kustomization.yaml
  k8s/monitoring/namespace.yaml
Due: prettier, kustomize-dry-run

feat(matrix): add Matrix Synapse and Element web deployment
  k8s/applications/matrix/element-web.yaml
  k8s/applications/matrix/helmrelease.yaml
  k8s/applications/matrix/kustomization.yaml
  k8s/applications/matrix/secrets.yaml
Due: prettier, kustomize-dry-run

fix(monitoring): remove deprecated Angular plugin and datasource conflict
  k8s/monitoring/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(matrix): enable Redis and fix Element-web nginx configuration
  k8s/applications/matrix/element-web.yaml
  k8s/applications/matrix/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(monitoring): set privileged pod security for node-exporter
  k8s/monitoring/namespace.yaml
Due: prettier, kustomize-dry-run

fix(matrix): correct ingress configuration format for ananace chart
  k8s/applications/matrix/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(matrix): use correct storage class name proxmox-csi-retain
  k8s/applications/matrix/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(matrix): configure PostgreSQL storageClass globally and enable Redis auth
  k8s/applications/matrix/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(matrix): fix PostgreSQL init script and simplify secrets
  k8s/applications/matrix/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(matrix): use chart-generated signing key and fix PostgreSQL collation
  k8s/applications/matrix/helmrelease.yaml
  k8s/applications/matrix/secrets.yaml
Due: prettier, kustomize-dry-run

fix(matrix): configure OIDC client secret via extraSecrets
  k8s/applications/matrix/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat(infrastructure): increase VM memory from 4GB to 8GB
  terraform/modules/infrastructure/modules/talos-node/main.tf
Due: checkov-nix, terraform-version-centralization

fix(tofu-controller): enable CRD installation
  k8s/core/tofu-controller.yaml
Due: prettier, kustomize-dry-run

fix(sso): use external HTTPS URL for Authentik API access
  k8s/sso/gitea/authentik-provider-tf.yaml
  k8s/sso/matrix/authentik-provider-tf.yaml
Due: prettier, kustomize-dry-run

fix(sso): remove default authentik_url from Terraform variables
  k8s/sso/harbor/authentik-provider-tf.yaml
  terraform/sso/gitea/variables.tf
  terraform/sso/harbor/variables.tf
  terraform/sso/matrix/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

docs: update PLAN.md and README.md with current status
  README.md
  docs/PLAN.md
Due: markdownlint

fix(authentik): correct bootstrap token key in copy job
  k8s/authentik/token-secret.yaml
Due: prettier, kustomize-dry-run

fix(monitoring): update Grafana ingress to use DNS-01 challenge and external-dns
  k8s/monitoring/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat(firecrawl): add Firecrawl AI web scraping service deployment
  charts/firecrawl/.helmignore
  charts/firecrawl/Chart.yaml
  charts/firecrawl/README.md
  charts/firecrawl/overlays/dev/values.yaml
  charts/firecrawl/overlays/prod/values.yaml
  charts/firecrawl/templates/_helpers.tpl
  charts/firecrawl/templates/configmap.yaml
  charts/firecrawl/templates/deployment.yaml
  charts/firecrawl/templates/ingress.yaml
  charts/firecrawl/templates/nuq-postgres-deployment.yaml
  charts/firecrawl/templates/nuq-worker-deployment.yaml
  charts/firecrawl/templates/playwright-configmap.yaml
  charts/firecrawl/templates/playwright-deployment.yaml
  charts/firecrawl/templates/playwright-service.yaml
  charts/firecrawl/templates/redis-deployment.yaml
  charts/firecrawl/templates/redis-service.yaml
  charts/firecrawl/templates/secret.yaml
  charts/firecrawl/templates/service.yaml
  charts/firecrawl/templates/worker-deployment.yaml
  charts/firecrawl/values.yaml
  k8s/applications/firecrawl/flux-kustomization.yaml
  k8s/applications/firecrawl/helmrelease.yaml
  k8s/applications/firecrawl/kustomization.yaml
Due: prettier, markdownlint, kustomize-dry-run

feat(vault): configure OIDC authentication with Authentik
  k8s/authentik/token-secret.yaml
  k8s/kustomization.yaml
  k8s/sso/vault/authentik-provider-tf.yaml
  k8s/sso/vault/client-secret-eso.yaml
  k8s/sso/vault/flux-kustomization.yaml
  k8s/sso/vault/kustomization.yaml
  k8s/vault-config/config.yaml
  terraform/gitops/secrets/main.tf
  terraform/gitops/secrets/outputs.tf
  terraform/gitops/vault/main.tf
  terraform/gitops/vault/variables.tf
  terraform/sso/vault/main.tf
  terraform/sso/vault/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix(vault): make OIDC configuration conditional on client secret availability
  k8s/vault-config/config.yaml
  terraform/gitops/vault/main.tf
  terraform/gitops/vault/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

docs: add comprehensive Harbor registry strategy
  docs/HARBOR_REGISTRY_STRATEGY.md
Due: markdownlint

fix(firecrawl): correct service names in configuration
  k8s/applications/firecrawl/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(vault-sso): correct kustomization dependencies
  k8s/sso/vault/flux-kustomization.yaml
  terraform/sso/grafana/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

feat(monitoring): add Authentik SSO integration for Grafana
  k8s/monitoring/helmrelease.yaml
  k8s/sso/grafana/authentik-provider-tf.yaml
  k8s/sso/grafana/client-secret-eso.yaml
  k8s/sso/grafana/flux-kustomization.yaml
  k8s/sso/grafana/kustomization.yaml
  terraform/sso/grafana/outputs.tf
  terraform/sso/grafana/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix(firecrawl): use node command instead of pnpm for API and worker
  charts/firecrawl/templates/deployment.yaml
  charts/firecrawl/templates/worker-deployment.yaml
Due: prettier

fix(sso): correct dependency name for Grafana SSO kustomization
  k8s/sso/grafana/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix(firecrawl): increase HelmRelease timeout to 10m
  k8s/applications/firecrawl/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(sso): remove authentik dependency from Grafana SSO kustomization
  k8s/sso/grafana/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix(firecrawl): use local chart instead of upstream firecrawl repo
  k8s/applications/firecrawl/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(sso): remove all kustomization dependencies for Grafana SSO
  k8s/sso/grafana/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix(cert-manager): add RBAC permissions for PowerDNS webhook
  k8s/cert-manager-config/kustomization.yaml
  k8s/cert-manager-config/powerdns-webhook-rbac.yaml
Due: prettier, kustomize-dry-run

Path conditions:
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
  checkov-nix: any of: \.tf$
  kustomize-dry-run: any of: ^k8s/.*\.(yaml|yml)$
  helm-template-dry-run: any of: ^terraform/.*cilium.*\.(yaml|yml|tf)$
  terraform-version-centralization: any of: \.tf$
