Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

checkov-nix:
  name: Checkov security analysis (via nix)
  entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
  language: system
  pass_filenames: false

kustomize-dry-run:
  name: Validate Kustomize builds (parallel)
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

helm-template-dry-run:
  name: Validate Helm templates
  entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
  language: system
  ...

terraform-version-centralization:
  name: Prevent terraform provider version redefinitions
  ...

feat(powerdns): add Reflector annotations to chart ExternalSecret template
  charts/powerdns/Chart.yaml
  charts/powerdns/templates/external-secret.yaml
Due: prettier

fix(external-dns): pass PowerDNS API key via command-line flag
  k8s/external-dns/deployment.yaml
Due: prettier, kustomize-dry-run

fix(external-dns): use $(VAR) syntax to expand API key in args
  k8s/external-dns/deployment.yaml
Due: prettier, kustomize-dry-run

feat(dns): add PowerDNS Operator for declarative zone management
  charts/powerdns/Chart.yaml
  charts/powerdns/templates/external-secret.yaml
  k8s/external-dns/flux-kustomization.yaml
  k8s/powerdns-operator/clusterzone.yaml
  k8s/powerdns-operator/flux-kustomization.yaml
  k8s/powerdns-operator/helmrelease.yaml
  k8s/powerdns-operator/helmrepository.yaml
  k8s/powerdns-operator/kustomization.yaml
  k8s/powerdns-operator/namespace.yaml
Due: prettier, kustomize-dry-run

fix(dns): split operator and zone into separate kustomizations
  k8s/external-dns/flux-kustomization.yaml
  k8s/powerdns-zones/clusterzone.yaml
  k8s/powerdns-zones/flux-kustomization.yaml
  k8s/powerdns-zones/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(powerdns-operator): correct Helm repository URL
  k8s/powerdns-operator/helmrepository.yaml
Due: prettier, kustomize-dry-run

fix(powerdns-operator): use correct chart version constraint
  k8s/powerdns-operator/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(powerdns-operator): use correct chart values structure
  k8s/powerdns-operator/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat(powerdns): add operator and zones kustomizations to root manifest
  k8s/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(cert-manager): update PowerDNS service name in ClusterIssuer
  .claude/skills/cluster-planner/SKILL.md
  .claude/skills/cluster-planner/sre-tools-and-techniques.md
  .claude/skills/cluster-planner/troubleshooting-checklist.md
  CLAUDE.md
  k8s/cert-manager-webhook/clusterissuer.yaml
  terraform/modules/infrastructure/cilium/values.yaml
Due: prettier, markdownlint, kustomize-dry-run, helm-template-dry-run

feat(powerdns): enable AXFR for VPS secondary zone
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
Due: prettier

fix(powerdns): add custom config environment variables to deployment
  charts/powerdns/Chart.yaml
  charts/powerdns/templates/deployment.yaml
Due: prettier

fix(infrastructure): correct invalid Tailscale route CIDR
  terraform/modules/infrastructure/locals.tf
  terraform/modules/infrastructure/nodes.tf
Due: checkov-nix, terraform-version-centralization

docs(plan): document complete DNS architecture with AXFR secondary zone
  docs/PLAN.md
Due: markdownlint

docs: update DNS architecture and troubleshooting
  docs/OPERATIONS.md
  docs/PLAN.md
  docs/TROUBLESHOOTING.md
Due: markdownlint

feat(external-dns): configure A records to point to VPS public IP
  k8s/external-dns/deployment.yaml
Due: prettier, kustomize-dry-run

fix(external-dns): use correct --default-targets flag
  k8s/external-dns/deployment.yaml
Due: prettier, kustomize-dry-run

docs(plan): update Let's Encrypt status with DNS completion
  docs/PLAN.md
Due: markdownlint

feat(harbor): break circular dependency with bootstrap deployment
  k8s/applications/harbor/admin-password-generator.yaml
  k8s/applications/harbor/flux-kustomization.yaml
  k8s/applications/harbor/helmrelease.yaml
  k8s/applications/harbor/kustomization.yaml
  k8s/applications/harbor/secrets.yaml
Due: prettier, kustomize-dry-run

fix(authentik): use ESO Password generator for API token bootstrap
  k8s/authentik-config/authentik-api-token.yaml
Due: prettier, kustomize-dry-run

feat(vault): add vault-token ExternalSecret for Terraform authentication
  k8s/vault-config/flux-kustomization.yaml
  k8s/vault-config/kustomization.yaml
  k8s/vault-config/vault-token.yaml
Due: prettier, kustomize-dry-run

fix(vault): add RBAC for cross-namespace secret access
  k8s/vault-config/vault-token.yaml
Due: prettier, kustomize-dry-run

feat(terraform): enable auto-approval for Authentik Terraform resources
  k8s/authentik-config/config.yaml
  k8s/authentik-config/sso-secrets.yaml
Due: prettier, kustomize-dry-run

fix(gitea): add Let's Encrypt TLS certificate configuration
  k8s/applications/gitea/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(cert-manager): add HTTP-01 solver for non-wildcard domains
  k8s/cert-manager-config/clusterissuer.yaml
Due: prettier, kustomize-dry-run

docs: update PLAN.md with Let's Encrypt certificate status
  docs/PLAN.md
Due: markdownlint

fix(sso): remove namespace field from Terraform varsFrom and add Reflector
  k8s/applications/gitea/kustomization.yaml
  k8s/applications/matrix/kustomization.yaml
  k8s/kustomization.yaml
  k8s/services-config/flux-kustomization.yaml
  k8s/services-config/kustomization.yaml
  k8s/services-config/services-config.yaml
  k8s/services-config/tf-runner-rbac.yaml
  k8s/sso/gitea/authentik-provider-tf.yaml
  k8s/sso/gitea/client-secret-eso.yaml
  k8s/sso/harbor/authentik-provider-tf.yaml
  k8s/sso/harbor/client-secret-eso.yaml
Due: prettier, kustomize-dry-run

fix(sso): update Authentik Terraform provider to use correct data sources
  k8s/sso/gitea/client-secret-eso.yaml
  k8s/sso/harbor/client-secret-eso.yaml
  terraform/sso/gitea/main.tf
  terraform/sso/harbor/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

docs(plan): add InvenTree, Syncthing, Bazel cache, and ActivityWatch
  docs/PLAN.md
Due: markdownlint

docs(plan): add Google Drive sync/backup service
  docs/PLAN.md
Due: markdownlint

docs: add repository scope restrictions to CLAUDE.md
  CLAUDE.md
Due: markdownlint

fix(certs): switch Gitea and Harbor to DNS-01 challenge solver
  k8s/applications/gitea/helmrelease.yaml
  k8s/applications/harbor/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(cert-manager): add namespace to PowerDNS API key secret reference
  k8s/cert-manager-webhook/clusterissuer.yaml
Due: prettier, kustomize-dry-run

docs: add Task delegation and parallelization guidelines to CLAUDE.md
  CLAUDE.md
Due: markdownlint

feat(matrix): convert SSO from SAML to OAuth2/OIDC for Authentik integration
  k8s/applications/matrix/kustomization.yaml
  k8s/applications/matrix/namespace.yaml
  k8s/sso/matrix/authentik-provider-tf.yaml
  k8s/sso/matrix/client-secret-eso.yaml
  k8s/sso/matrix/kustomization.yaml
  terraform/sso/matrix/main.tf
  terraform/sso/matrix/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix(sso): update Gitea and Harbor OAuth providers to new Authentik provider schema
  terraform/sso/gitea/main.tf
  terraform/sso/harbor/main.tf
Due: checkov-nix, terraform-version-centralization

fix(matrix): correct Authentik OAuth2 provider schema
  terraform/sso/matrix/main.tf
Due: checkov-nix, terraform-version-centralization

fix(sso): use internal Authentik service endpoint for Terraform providers
  k8s/sso/gitea/authentik-provider-tf.yaml
  k8s/sso/harbor/authentik-provider-tf.yaml
  k8s/sso/matrix/authentik-provider-tf.yaml
Due: prettier, kustomize-dry-run

fix(sso): update Terraform variable defaults to use internal Authentik endpoint
  terraform/sso/gitea/variables.tf
  terraform/sso/harbor/variables.tf
  terraform/sso/matrix/variables.tf
Due: checkov-nix, terraform-version-centralization

docs: inform subagents about /code reference repository convention
  CLAUDE.md
Due: markdownlint

Path conditions:
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
  checkov-nix: any of: \.tf$
  kustomize-dry-run: any of: ^k8s/.*\.(yaml|yml)$
  helm-template-dry-run: any of: ^terraform/.*cilium.*\.(yaml|yml|tf)$
  terraform-version-centralization: any of: \.tf$
