Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeconform, prettier, markdownlint

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: flux-system/
      - id: check-merge-conflict

  - repo: local
    hooks:
      - id: kubeconform
        name: Validate Kubernetes manifests
        entry: kubeconform
        language: system
        files: ^k8s/.*\.yaml$
        exclude: (flux-system/|flux-kustomization|kustomization|cilium-bootstrap-values)\.yaml$
        args: ["--ignore-missing-schemas", "--skip", "Certificate,Issuer,ClusterIssuer"]

  - repo: local
    hooks:
      - id: prettier
        name: Format YAML files
        entry: prettier
        language: system
        types: [yaml]
        exclude: (flux-system/|\.ya?ml\.j2$)
        args: ["--write", "--print-width", "120"]

  - repo: local
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        entry: markdownlint
        language: system
        types: [markdown]
        args: ["--fix", "--config", ".markdownlint.json"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive

fix: add persistence.dataEngine and disableRevisionCounter for V2 StorageClass
  k8s/authentik/bootstrap-sealed.yaml
  k8s/storage/longhorn.yaml
Due: kubeconform, prettier

feat: add two-phase Proxmox CSI setup with sealed secrets
  terraform/infrastructure/proxmox-csi.tf
Due: none

docs: add two-phase storage setup with Proxmox CSI
  docs/BOOTSTRAP.md
  terraform/storage/providers.tf
  terraform/storage/proxmox-csi.tf
Due: markdownlint

feat: put Longhorn V2 behind feature flag and disable by default
  docs/PLAN.md
  k8s/storage/longhorn.yaml
  terraform/infrastructure/variables.tf
Due: kubeconform, prettier, markdownlint

feat: add Proxmox CSI deployment with sealed secrets
  k8s/storage/kustomization.yaml
  k8s/storage/proxmox-csi-namespace.yaml
  k8s/storage/proxmox-csi-sealed.yaml
  k8s/storage/proxmox-csi.yaml
Due: kubeconform, prettier

fix: apply linter formatting to storage manifests
  k8s/storage/proxmox-csi.yaml
Due: kubeconform, prettier

fix: apply pre-commit formatting to storage manifests
  k8s/storage/kustomization.yaml
  k8s/storage/proxmox-csi-namespace.yaml
  k8s/storage/proxmox-csi.yaml
Due: kubeconform, prettier

fix: use SSH remote-exec for Proxmox CSI ACL assignment
  terraform/infrastructure/proxmox-csi.tf
Due: none

fix: use Proxmox API for CSI ACL assignment instead of SSH
  terraform/infrastructure/proxmox-csi.tf
Due: none

chore: remove old authentik bootstrap sealed secret
  k8s/authentik/bootstrap-sealed.yaml
Due: kubeconform, prettier

fix: revert to SSH-based Proxmox CSI ACL assignment
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/infrastructure/proxmox-csi.tf
Due: kubeconform, prettier

fix: use ed25519 SSH key for CSI ACL provisioning
  terraform/infrastructure/proxmox-csi.tf
Due: none

feat: update Proxmox CSI sealed secret with new token
  k8s/storage/proxmox-csi-sealed.yaml
Due: kubeconform, prettier

fix: use OCIRepository for Proxmox CSI Helm chart
  k8s/storage/proxmox-csi.yaml
Due: kubeconform, prettier

fix: add SSH-based ACL cleanup on destroy
  terraform/infrastructure/proxmox-csi.tf
Due: none

fix: correct ACL deletion syntax in destroy provisioner
  terraform/infrastructure/proxmox-csi.tf
Due: none

feat: implement libsecret-based credential storage system
  .gitignore
  terraform/infrastructure/nodes.tf
  terraform/infrastructure/providers.tf
  terraform/infrastructure/proxmox-csi.tf
  terraform/infrastructure/vault-secrets.tf
  terraform/pve-auth/main.tf
  terraform/pve-auth/outputs.tf
  terraform/storage/proxmox-csi.tf
Due: none

docs: document libsecret credential setup process
  README.md
  docs/BOOTSTRAP.md
Due: markdownlint

refactor: simplify SSH-based headscale integration
  README.md
  terraform/infrastructure/modules/talos-node/main.tf
  terraform/infrastructure/nodes.tf
  terraform/infrastructure/variables.tf
  terraform/infrastructure/vault-secrets.tf
  terraform/pve-auth/main.tf
Due: markdownlint

cleanup: remove Longhorn leftovers from Talos config
  terraform/infrastructure/modules/talos-node/main.tf
Due: none

docs: update BOOTSTRAP.md for SSH-based Headscale integration
  docs/BOOTSTRAP.md
Due: markdownlint

fix: resolve destroy provisioner variable reference error
  terraform/infrastructure/modules/talos-node/main.tf
Due: none

refactor: simplify credential management with JSON keyring storage
  docs/BOOTSTRAP.md
  terraform/pve-auth/main.tf
  terraform/pve-auth/outputs.tf
Due: markdownlint

docs: update BOOTSTRAP.md for SSH auto-provisioning
  docs/BOOTSTRAP.md
Due: markdownlint

docs: renumber BOOTSTRAP.md steps from 1
  docs/BOOTSTRAP.md
Due: markdownlint

refactor: DRY up credential provisioning with locals
  docs/BOOTSTRAP.md
  terraform/infrastructure/providers.tf
  terraform/pve-auth/main.tf
  terraform/pve-auth/outputs.tf
Due: markdownlint

refactor: implement DRY patterns across infrastructure
  terraform/infrastructure/locals.tf
  terraform/infrastructure/modules/talos-node/main.tf
  terraform/infrastructure/nodes.tf
  terraform/infrastructure/providers.tf
  terraform/infrastructure/variables.tf
  terraform/pve-auth/outputs.tf
Due: none

fix: correct JSON output format for external data sources
  terraform/pve-auth/main.tf
  terraform/pve-auth/outputs.tf
Due: none

fix: update node module variables for SSH-based credential system
  terraform/infrastructure/modules/talos-node/variables.tf
Due: none

fix: resolve infrastructure apply issues
  terraform/infrastructure/modules/talos-node/main.tf
  terraform/infrastructure/proxmox-csi.tf
Due: none

fix: use JSON output format for PVE token provisioning
  terraform/pve-auth/main.tf
Due: none

feat: complete migration from Longhorn to Proxmox CSI
  k8s/authentik/bootstrap-sealed.yaml
  k8s/storage/kustomization.yaml
  k8s/storage/longhorn.yaml
  terraform/infrastructure/sealed-secrets.tf
Due: kubeconform, prettier

fix: correct Proxmox CSI HelmRelease and health check configuration
  k8s/storage/flux-kustomization.yaml
  k8s/storage/proxmox-csi.yaml
Due: kubeconform, prettier

fix: correct Proxmox CSI OCI repository URL format
  k8s/storage/proxmox-csi.yaml
Due: kubeconform, prettier

feat: regenerate Proxmox CSI sealed secret with current cluster key
  k8s/storage/proxmox-csi-sealed.yaml
Due: kubeconform, prettier

fix: correct Proxmox CSI token format to use token_id and token_secret
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/storage/proxmox-csi.tf
Due: kubeconform, prettier

feat: simplify Proxmox credential management with FQDN and SSL
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/pve-auth/main.tf
  terraform/pve-auth/outputs.tf
  terraform/storage/proxmox-csi.tf
Due: kubeconform, prettier

fix: add declarative Kubernetes topology region labels for Proxmox CSI
  terraform/infrastructure/modules/talos-node/main.tf
Due: none

fix: consolidate Proxmox credential management and declarative topology labels
  terraform/infrastructure/modules/talos-node/main.tf
  terraform/infrastructure/providers.tf
  terraform/infrastructure/proxmox-csi.tf
  terraform/storage/proxmox-csi.tf
Due: none

feat: implement proper JSON boolean handling for Proxmox CSI config
  terraform/infrastructure/modules/talos-node/main.tf
  terraform/pve-auth/main.tf
  terraform/pve-auth/outputs.tf
Due: none
