Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

checkov-nix:
  name: Checkov security analysis (via nix)
  entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
  language: system
  pass_filenames: false

kustomize-dry-run:
  name: Validate Kustomize builds (parallel)
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

helm-template-dry-run:
  name: Validate Helm templates
  entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
  language: system
  ...

terraform-version-centralization:
  name: Prevent terraform provider version redefinitions
  ...

fix: terraform fmt auto-format
  k8s/applications/matrix/helmrelease.yaml
  k8s/applications/matrix/secrets.yaml
  terraform/authentik-blueprint/matrix/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: resolve vault-oidc-auth circular dependency and OIDC backend config failure
  k8s/sso-secrets/flux-kustomization.yaml
  k8s/vault-oidc-auth/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

Uninstall Flux
  k8s/flux-system/gotk-components.yaml
  k8s/flux-system/gotk-sync.yaml
  k8s/flux-system/kustomization.yaml
Due: kustomize-dry-run

Add Flux v2.7.3 component manifests
  k8s/flux-system/gotk-components.yaml
Due: kustomize-dry-run

Add Flux sync manifests
  k8s/flux-system/gotk-sync.yaml
  k8s/flux-system/kustomization.yaml
Due: kustomize-dry-run

fix: break vault-token circular dependency by extracting separate kustomization
  k8s/kustomization.yaml
  k8s/sso-secrets/flux-kustomization.yaml
  k8s/vault-token/flux-kustomization.yaml
  k8s/vault-token/kustomization.yaml
  k8s/vault-token/vault-token.yaml
Due: prettier, kustomize-dry-run

fix: use internal Authentik URL for Vault OIDC discovery
  terraform/vault-oidc-auth/variables.tf
Due: checkov-nix, terraform-version-centralization

fix: use correct service port (80) for Authentik OIDC discovery URL
  terraform/vault-oidc-auth/variables.tf
Due: checkov-nix, terraform-version-centralization

fix: add dependency on authentik-blueprint-vault for vault-oidc-auth
  k8s/vault-oidc-auth/config.yaml
Due: prettier, kustomize-dry-run

fix: increase Harbor install/upgrade timeout to 10m
  k8s/applications/harbor/helmrelease.yaml
Due: prettier, kustomize-dry-run

refactor: decentralize SSO client secret generation to per-app blueprints
  k8s/applications/gitea/helmrelease.yaml
  k8s/applications/gitea/secrets.yaml
  terraform/authentik-blueprint/gitea/main.tf
  terraform/authentik-blueprint/grafana/main.tf
  terraform/authentik-blueprint/harbor/harbor-config.tf
  terraform/authentik-blueprint/harbor/main.tf
  terraform/authentik-blueprint/matrix/main.tf
  terraform/authentik-blueprint/vault/main.tf
  terraform/authentik-blueprint/vault/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: complete SSO configuration cleanup and synchronization fixes
  k8s/applications/gitea-oauth/flux-kustomization.yaml
  k8s/authentik-blueprint/harbor-secret/client-secret-eso.yaml
  k8s/authentik-blueprint/vault/client-secret-eso.yaml
  terraform/authentik-blueprint/matrix/main.tf
  terraform/gitops/secrets/main.tf
  terraform/gitops/secrets/outputs.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

docs: document ESO Password generator desynchronization antipattern
  docs/TROUBLESHOOTING.md
Due: markdownlint

fix: eliminate duplicate OIDC providers and complete SSO architecture cleanup
  k8s/authentik-blueprint/matrix-secret/client-secret-eso.yaml
  terraform/main.tf
  terraform/modules/gitops/main.tf
  terraform/modules/gitops/outputs.tf
  terraform/modules/gitops/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: correct SSO configuration outputs and dependencies
  k8s/authentik-blueprint/gitea-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/grafana-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/harbor-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/matrix-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/vault/flux-kustomization.yaml
  k8s/powerdns/externalsecret-api-key.yaml
  k8s/sso-secrets/sso-secrets-tf.yaml
Due: prettier, kustomize-dry-run

fix: resolve critical SSO configuration issues for bootstrap readiness
  k8s/applications/gitea/flux-kustomization.yaml
  k8s/applications/gitea/secrets.yaml
  k8s/authentik-blueprint/gitea-secret/client-secret-eso.yaml
  k8s/authentik-blueprint/gitea-secret/flux-kustomization.yaml
  k8s/authentik-blueprint/gitea-secret/kustomization.yaml
  k8s/authentik-blueprint/vault/authentik-provider-tf.yaml
  k8s/vault-oidc-auth/config.yaml
Due: prettier, kustomize-dry-run

fix: add missing gitea-secret to main kustomization and matrix namespace dependency
  k8s/authentik-blueprint/matrix-secret/flux-kustomization.yaml
  k8s/kustomization.yaml
Due: prettier, kustomize-dry-run

fix: add missing gitea-oauth to main kustomization
  k8s/kustomization.yaml
Due: prettier, kustomize-dry-run

fix: resolve circular dependencies and encoding issues in SSO configuration
  k8s/applications/gitea-oauth/flux-kustomization.yaml
  k8s/applications/gitea-oauth/kustomization.yaml
  k8s/applications/gitea-oauth/oauth-config-job.yaml
  k8s/applications/gitea/flux-kustomization.yaml
  k8s/applications/gitea/kustomization.yaml
  k8s/applications/gitea/oidc-secret.yaml
  k8s/applications/matrix/kustomization.yaml
  k8s/authentik-blueprint/gitea-secret/flux-kustomization.yaml
  k8s/authentik-blueprint/gitea-secret/kustomization.yaml
  k8s/authentik-blueprint/grafana-secret/client-secret-eso.yaml
  k8s/kustomization.yaml
  terraform/authentik-blueprint/grafana/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: correct Gitea OAuth secret key names for Helm chart compatibility
  k8s/applications/gitea/helmrelease.yaml
  k8s/applications/gitea/oidc-secret.yaml
Due: prettier, kustomize-dry-run

docs: Harbor pull-through cache with PRIMARY DIRECTIVE analysis
  docs/HARBOR_PULLTHROUGH_CACHE_GLOBAL_REWRITE.md
Due: markdownlint

docs: integrate Harbor pull-through cache planning into roadmap
  docs/PLAN.md
Due: markdownlint

feat: add Harbor pull-through cache with Terraform automation
  k8s/harbor-proxy-cache/flux-kustomization.yaml
  k8s/harbor-proxy-cache/kustomization.yaml
  k8s/kustomization.yaml
  terraform/03-configuration/harbor-proxy-cache/main.tf
  terraform/03-configuration/harbor-proxy-cache/terraform.tf
  terraform/03-configuration/harbor-proxy-cache/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

feat: bake Harbor registry mirrors into Talos infrastructure layer
  terraform/modules/infrastructure/modules/talos-node/main.tf
Due: checkov-nix, terraform-version-centralization

feat: enable Harbor metrics with Prometheus ServiceMonitor
  k8s/applications/harbor/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat: add official Harbor Grafana dashboard for monitoring
  k8s/monitoring-stack/dashboards/harbor-dashboard.yaml
  k8s/monitoring-stack/kustomization.yaml
Due: prettier, kustomize-dry-run

fix: add infrastructure dependency to Proxmox volume cleanup
  terraform/01-infrastructure/proxmox-volume-cleanup.tf
Due: checkov-nix, terraform-version-centralization

fix: skip flux validation when flux-system not bootstrapped
  scripts/validate-flux-build.py
Due: none

fix: force kube-apiserver to bind on IPv4 address
  terraform/modules/infrastructure/modules/talos-node/main.tf
Due: checkov-nix, terraform-version-centralization

fix: add core dependency to all Terraform CR Flux Kustomizations
  k8s/authentik-blueprint/gitea-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/grafana-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/harbor-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/kagent/flux-kustomization.yaml
  k8s/authentik-blueprint/matrix-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/users/flux-kustomization.yaml
  k8s/authentik-blueprint/vault/flux-kustomization.yaml
  k8s/harbor-proxy-cache/flux-kustomization.yaml
  k8s/harbor-proxy-cache/kustomization.yaml
  k8s/harbor-proxy-cache/terraform.yaml
  k8s/sso-secrets/flux-kustomization.yaml
  k8s/vault-oidc-auth/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix: change Harbor ServiceMonitor label from 'release' to 'prometheus'
  bootstrap-output.log
  k8s/applications/harbor/helmrelease.yaml
Due: prettier, kustomize-dry-run

Path conditions:
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
  checkov-nix: any of: \.tf$
  kustomize-dry-run: any of: ^k8s/.*\.(yaml|yml)$
  helm-template-dry-run: any of: ^terraform/.*cilium.*\.(yaml|yml|tf)$
  terraform-version-centralization: any of: \.tf$
