Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: flux-system/
      - id: check-merge-conflict
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key

  - repo: https://github.com/zrootorg/kubeconform-precommit-hook
    rev: 7f0288e2809173c0c9eeff05c5ff7bcceabb90d4 # 2023-07-11 latest
    hooks:
      - id: kubeconform
        args: [-p, k8s/]
        exclude: terraform\.yaml$

  - repo: https://github.com/Agilicus/pre-commit-hook-k8svalidate.git
    rev: v0.0.8
    hooks:
      - id: k8svalidate
        files: ^k8s/.*\.yaml$

  - repo: local
    hooks:
      - id: prettier
        name: Format YAML files
        entry: prettier
        language: system
        types: [yaml]
        exclude: (flux-system/|\.ya?ml\.j2$)
        args: ["--write", "--print-width", "120"]

  - repo: local
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        entry: markdownlint
        language: system
        types: [markdown]
        args: ["--fix", "--config", ".markdownlint.json"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        files: ^terraform/infrastructure/
      - id: terraform_tflint
        files: \.tf$
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
      # - id: terraform_checkov  # Replaced with local nix-based hook below
      #   args:
      #     - --args=--framework terraform
      #     - --args=--skip-check CKV_TF_1  # Skip module source pinning for local modules

  - repo: local
    hooks:
      - id: checkov-nix
        name: Checkov security analysis (via nix)
        entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
        language: system
        files: \.tf$
        pass_filenames: false

      - id: kustomize-dry-run
        name: Validate Kustomize builds (parallel)
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: ^k8s/.*\.(yaml|yml)$
        pass_filenames: false
        # Validates kustomize builds and ensures exactly one external-secrets installation

      - id: helm-template-dry-run
        name: Validate Helm templates
        entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
        language: system
        files: ^terraform/.*cilium.*\.(yaml|yml|tf)$
        pass_filenames: false

      - id: terraform-version-centralization
        name: Prevent terraform provider version redefinitions
        entry: >-
          bash -c
          'if grep -r -A20 "required_providers" terraform/ --include="*.tf" --exclude-dir=".terraform" | grep -E "version\\s*=" | grep -v "terraform.tf"; then
          echo "‚ùå FATAL: Provider version constraints found outside centralized terraform.tf";
          echo "All provider versions must be centralized in terraform.tf";
          exit 1;
          fi'
        language: system
        files: \.tf$
        pass_filenames: false

refactor: separate Gitea OAuth job into independent kustomization
  k8s/applications/gitea-oauth/flux-kustomization.yaml
  k8s/applications/gitea-oauth/kustomization.yaml
  k8s/applications/gitea-oauth/oauth-config-job.yaml
  k8s/applications/gitea/kustomization.yaml
Due: prettier, kustomize-dry-run

fix: configure envrc to fix pre-commit pip/virtualenv conflict
  .envrc
Due: none

fix: add pip/pre-commit environment variables to bootstrap.sh
  bootstrap.sh
Due: none

refactor: use direnv exec for bootstrap environment
  bootstrap.sh
Due: none

fix: set pip/pre-commit env vars directly in bootstrap.sh
  bootstrap.sh
Due: none

fix: remove unsupported soaRecord field from ClusterZone
  k8s/powerdns-zones/clusterzone.yaml
Due: prettier, kustomize-dry-run

docs: document Let's Encrypt rate limits for bootstrap testing
  README.md
Due: markdownlint

feat: centralize Let's Encrypt staging/prod selection
  k8s/cert-manager-config/clusterissuer.yaml
  k8s/cert-manager-webhook/clusterissuer.yaml
Due: prettier, kustomize-dry-run

refactor: deduplicate Let's Encrypt ClusterIssuers
  k8s/applications/firecrawl/helmrelease.yaml
  k8s/applications/gitea/helmrelease.yaml
  k8s/applications/harbor/helmrelease.yaml
  k8s/applications/matrix/element-web.yaml
  k8s/applications/matrix/helmrelease.yaml
  k8s/applications/test-app/ingress.yaml
  k8s/authentik/helmrelease.yaml
  k8s/cert-manager-webhook/clusterissuer.yaml
  k8s/cert-manager-webhook/kustomization.yaml
  k8s/kagent/ingress.yaml
  k8s/loki/ingress.yaml
  k8s/monitoring-stack/helmrelease.yaml
  k8s/monitoring/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat: use internal cluster URLs for pod-to-pod OIDC communication
  k8s/applications/gitea-oauth/oauth-config-job.yaml
  k8s/authentik-blueprint/users/users-tf.yaml
  k8s/loki/ingress.yaml
  k8s/monitoring-stack/helmrelease.yaml
Due: prettier, kustomize-dry-run

refactor: extract Gitea OAuth script to ConfigMap
  k8s/applications/gitea-oauth/oauth-config-job.yaml
Due: prettier, kustomize-dry-run

refactor: DRY up Gitea OAuth configuration script
  k8s/applications/gitea-oauth/oauth-config-job.yaml
Due: prettier, kustomize-dry-run

docs: add Gitea Terraform Provider to future tasks
  docs/PLAN.md
Due: markdownlint

feat: use internal cluster URL for Matrix Synapse OIDC
  k8s/applications/matrix/helmrelease.yaml
Due: prettier, kustomize-dry-run

security: replace hardcoded Matrix OIDC client secret with ExternalSecret
  k8s/applications/matrix/helmrelease.yaml
  k8s/applications/matrix/secrets.yaml
Due: prettier, kustomize-dry-run

refactor: DRY Matrix OIDC config via Terraform→Vault→ESO
  k8s/applications/matrix/helmrelease.yaml
  k8s/applications/matrix/secrets.yaml
  terraform/authentik-blueprint/matrix/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

refactor: DRY Grafana OIDC config via Terraform→Vault→ESO + fix Vault TLS
  k8s/authentik-blueprint/grafana-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/grafana-secret/client-secret-eso.yaml
  k8s/monitoring-stack/helmrelease.yaml
  terraform/authentik-blueprint/grafana/main.tf
  terraform/authentik-blueprint/grafana/variables.tf
  terraform/authentik-blueprint/matrix/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

refactor: remove duplicate monitoring kustomization
  k8s/monitoring/flux-kustomization.yaml
  k8s/monitoring/helmrelease.yaml
  k8s/monitoring/helmrepository.yaml
  k8s/monitoring/kustomization.yaml
  k8s/monitoring/namespace.yaml
Due: prettier, kustomize-dry-run

feat: wire up kagent and devbot applications
  k8s/agents/devbot/flux-kustomization.yaml
  k8s/kagent/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix: use internal HTTP URLs for Authentik in Terraform blueprints
  k8s/authentik-blueprint/gitea-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/harbor-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/matrix-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/vault/authentik-provider-tf.yaml
Due: prettier, kustomize-dry-run

fix: use internal HTTP URL for Authentik in kagent blueprint
  k8s/authentik-blueprint/kagent/authentik-provider-tf.yaml
Due: prettier, kustomize-dry-run

Revert "fix: use internal HTTP URL for Authentik in kagent blueprint"
  k8s/authentik-blueprint/kagent/authentik-provider-tf.yaml
Due: prettier, kustomize-dry-run

Revert "fix: use internal HTTP URLs for Authentik in Terraform blueprints"
  k8s/authentik-blueprint/gitea-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/harbor-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/matrix-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/vault/authentik-provider-tf.yaml
Due: prettier, kustomize-dry-run

fix: add cluster CA trust to vault and kagent Terraform blueprints
  k8s/authentik-blueprint/kagent/authentik-provider-tf.yaml
  k8s/authentik-blueprint/vault/authentik-provider-tf.yaml
Due: prettier, kustomize-dry-run

fix: switch Authentik Terraform blueprints to internal HTTP URLs
  k8s/authentik-blueprint/gitea-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/grafana-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/harbor-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/kagent/authentik-provider-tf.yaml
  k8s/authentik-blueprint/matrix-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/users/users-tf.yaml
  k8s/authentik-blueprint/vault/authentik-provider-tf.yaml
Due: prettier, kustomize-dry-run

feat: add Let's Encrypt staging CA certificate for bootstrap health checks
  certs/letsencrypt-staging.pem
Due: none

fix: add cluster CA trust to Grafana SSO Terraform runner
  k8s/authentik-blueprint/grafana-provider/authentik-provider-tf.yaml
Due: prettier, kustomize-dry-run

fix: replace yamlencode with template string for Matrix OIDC config
  terraform/authentik-blueprint/matrix/main.tf
Due: checkov-nix, terraform-version-centralization

fix: change Matrix deployment strategy to Recreate for RWO PVC compatibility
  k8s/applications/matrix/helmrelease.yaml
Due: prettier, kustomize-dry-run

Uninstall Flux
  k8s/flux-system/gotk-components.yaml
  k8s/flux-system/gotk-sync.yaml
  k8s/flux-system/kustomization.yaml
Due: kustomize-dry-run

Add Flux v2.7.3 component manifests
  k8s/flux-system/gotk-components.yaml
Due: kustomize-dry-run

Add Flux sync manifests
  k8s/flux-system/gotk-sync.yaml
  k8s/flux-system/kustomization.yaml
Due: kustomize-dry-run

refactor: split pve-auth into separate user and token provisioning
  terraform/modules/pve-auth/main.tf
Due: checkov-nix, terraform-version-centralization

fix: add missing grafana_client_secret to sso-secrets terraform
  k8s/sso-secrets/sso-secrets-tf.yaml
  terraform/gitops/secrets/main.tf
  terraform/gitops/secrets/outputs.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix(vault): remove retry_join to allow Bank-Vaults automatic cluster formation
  k8s/vault/instance.yaml
Due: prettier, kustomize-dry-run

fix: change Proxmox CSI reclaim policy to Delete for turnkey testing
  k8s/storage/proxmox-csi-retain.yaml
Due: prettier, kustomize-dry-run

feat: implement Retain policy with automated cleanup provisioner
  k8s/storage/proxmox-csi-retain.yaml
  terraform/01-infrastructure/proxmox-volume-cleanup.tf
  terraform/01-infrastructure/scripts/cleanup-proxmox-volumes.py
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: use cluster_name variable instead of undefined cluster_endpoint
  terraform/01-infrastructure/proxmox-volume-cleanup.tf
Due: checkov-nix, terraform-version-centralization

fix: remove Proxmox fallback from cleanup script - only run when cluster API accessible
  terraform/01-infrastructure/scripts/cleanup-proxmox-volumes.py
Due: none

refactor: shorten error message in cleanup script
  terraform/01-infrastructure/scripts/cleanup-proxmox-volumes.py
Due: none
