Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeconform, prettier, markdownlint

kubeconform:
  name: Validate Kubernetes manifests
  entry: kubeconform
  language: system
  args:
  - --ignore-missing-schemas
  - --skip
  - Certificate,Issuer,ClusterIssuer

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

fix(pve-auth): improve deprovisioning with better role cleanup logic
  terraform/pve-auth/main.tf
Due: none

fix(pve-auth): use self.triggers for destroy provisioner references
  terraform/pve-auth/main.tf
Due: none

fix: remove outdated sealed-secrets.tf from infrastructure
  terraform/infrastructure/sealed-secrets.tf
Due: none

feat: implement proper JSON boolean handling for Proxmox CSI config
  terraform/infrastructure/modules/talos-node/main.tf
  terraform/pve-auth/main.tf
Due: none

fix: consolidate Proxmox credential management and declarative topology labels
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/storage/proxmox-csi.tf
Due: kubeconform, prettier

fix: update vault storage from longhorn to proxmox-csi
  k8s/vault/instance.yaml
Due: kubeconform, prettier

cleanup: remove generated authentik bootstrap secret after cluster destroy
  k8s/authentik/bootstrap-sealed.yaml
Due: kubeconform, prettier

fix: add Datastore.AllocateTemplate permission for terraform user
  terraform/pve-auth/main.tf
Due: none

fix: add SDN.Use permission for terraform user
  terraform/pve-auth/main.tf
Due: none

feat: regenerate Proxmox CSI sealed secret for new cluster
  docs/PLAN.md
  k8s/storage/proxmox-csi-sealed.yaml
Due: kubeconform, prettier, markdownlint

docs: update PLAN.md with completed turnkey deployment achievements
  docs/PLAN.md
Due: markdownlint

fix: switch Proxmox CSI storage from local-zfs to local
  k8s/storage/proxmox-csi.yaml
Due: kubeconform, prettier

fix: regenerate Proxmox CSI sealed secret with correct storage backend
  k8s/storage/proxmox-csi-sealed.yaml
Due: kubeconform, prettier

fix: correct Proxmox CSI topology configuration (zone=atlas)
  k8s/authentik/bootstrap-sealed.yaml
  terraform/infrastructure/modules/talos-node/main.tf
Due: kubeconform, prettier

chore: clean up authentik bootstrap sealed secret after cluster recreation
  k8s/authentik/bootstrap-sealed.yaml
Due: kubeconform, prettier

docs: add Firecrawl to AI/ML platform services roadmap
  docs/PLAN.md
  k8s/authentik/bootstrap-sealed.yaml
Due: kubeconform, prettier, markdownlint

fix: regenerate Proxmox CSI sealed secret with current cluster keys
  k8s/storage/proxmox-csi-sealed.yaml
Due: kubeconform, prettier

feat: add declarative providerID configuration for Proxmox CSI
  terraform/infrastructure/modules/talos-node/main.tf
Due: none

feat: reduce cluster size to 1 controller + 1 worker for faster development
  terraform/infrastructure/variables.tf
Due: none

chore: remove orphaned authentik bootstrap sealed secret
  k8s/authentik/bootstrap-sealed.yaml
Due: kubeconform, prettier

revert: cluster size from 1+1 back to 3+2 for stability
  terraform/infrastructure/variables.tf
Due: none

feat: implement keyring-based sealed-secrets persistence for turnkey GitOps
  terraform/infrastructure/vault-secrets.tf
Due: none

feat: add third worker node for Vault 3-replica HA and document sealed-secrets persistence
  README.md
  docs/BOOTSTRAP.md
  docs/PLAN.md
  k8s/authentik/bootstrap-sealed.yaml
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/infrastructure/variables.tf
Due: kubeconform, prettier, markdownlint

fix: resolve Vault ha_storage/raft configuration conflict and improve git check
  k8s/vault/instance.yaml
  terraform/infrastructure/preflights.tf
Due: kubeconform, prettier

fix: correct Vault Raft cluster retry_join DNS addresses for proper HA
  k8s/vault/instance.yaml
Due: kubeconform, prettier

fix: simplify Vault Raft config - let Bank-Vaults operator handle HA cluster formation
  k8s/vault/instance.yaml
Due: kubeconform, prettier

fix: use HA-friendly retry_join with load-balanced service
  k8s/vault/instance.yaml
Due: kubeconform, prettier

fix: use proper POD_IP environment variable substitution in Vault config
  k8s/vault/instance.yaml
Due: kubeconform, prettier

fix: use correct Bank-Vaults template syntax for POD_IP substitution
  k8s/vault/instance.yaml
Due: kubeconform, prettier

fix: use envsConfig instead of deprecated vaultEnvsConfig
  k8s/vault/instance.yaml
Due: kubeconform, prettier

feat(vault): fix POD_IP template substitution with proper Bank-Vaults env config
  k8s/vault/instance.yaml
Due: kubeconform, prettier

chore: remove deleted authentik bootstrap sealed secret file after cluster destroy
  k8s/authentik/bootstrap-sealed.yaml
Due: kubeconform, prettier

feat: regenerate authentik bootstrap sealed secret for new cluster
  k8s/authentik/bootstrap-sealed.yaml
Due: kubeconform, prettier

fix(vault): change vaultEnvsConfig to envsConfig for init container template processing
  k8s/vault/instance.yaml
Due: kubeconform, prettier

fix(vault): correct Bank-Vaults template syntax for POD_IP substitution
  k8s/vault/instance.yaml
Due: kubeconform, prettier

fix(vault): remove dynamic POD_IP template substitution in favor of Vault auto-detection
  k8s/vault/instance.yaml
Due: kubeconform, prettier

feat(vault): add explicit api_addr and cluster_addr for Raft storage requirement
  k8s/vault/instance.yaml
Due: kubeconform, prettier

docs(PLAN): add HTTPS automation and multi-node Vault HA tasks
  docs/PLAN.md
Due: markdownlint

fix(vault): remove overcomplicated config fighting Bank-Vaults operator automation
  k8s/vault/instance.yaml
  vault-raft-analysis.md
Due: kubeconform, prettier, markdownlint

fix(vault): implement canonical HashiCorp HA Raft cluster formation
  k8s/vault/instance.yaml
Due: kubeconform, prettier

Path conditions:
  kubeconform: any of: ^k8s/.*\.yaml$, but not: (flux-system/|flux-kustomization|kustomization|cilium-bootstrap-values)\.yaml$
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
