Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: flux-system/
      - id: check-merge-conflict
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key

  - repo: https://github.com/zrootorg/kubeconform-precommit-hook
    rev: 7f0288e2809173c0c9eeff05c5ff7bcceabb90d4 # 2023-07-11 latest
    hooks:
      - id: kubeconform
        args: [-p, k8s/]
        exclude: terraform\.yaml$

  - repo: https://github.com/Agilicus/pre-commit-hook-k8svalidate.git
    rev: v0.0.8
    hooks:
      - id: k8svalidate
        files: ^k8s/.*\.yaml$

  - repo: local
    hooks:
      - id: prettier
        name: Format YAML files
        entry: prettier
        language: system
        types: [yaml]
        exclude: (flux-system/|\.ya?ml\.j2$)
        args: ["--write", "--print-width", "120"]

  - repo: local
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        entry: markdownlint
        language: system
        types: [markdown]
        args: ["--fix", "--config", ".markdownlint.json"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        files: ^terraform/infrastructure/
      - id: terraform_tflint
        files: \.tf$
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
      # - id: terraform_checkov  # Replaced with local nix-based hook below
      #   args:
      #     - --args=--framework terraform
      #     - --args=--skip-check CKV_TF_1  # Skip module source pinning for local modules

  - repo: local
    hooks:
      - id: checkov-nix
        name: Checkov security analysis (via nix)
        entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
        language: system
        files: \.tf$
        pass_filenames: false

      - id: kustomize-dry-run
        name: Validate Kustomize builds (parallel)
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: ^k8s/.*\.(yaml|yml)$
        pass_filenames: false
        # Validates kustomize builds and ensures exactly one external-secrets installation

      - id: helm-template-dry-run
        name: Validate Helm templates
        entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
        language: system
        files: ^terraform/.*cilium.*\.(yaml|yml|tf)$
        pass_filenames: false

      - id: terraform-version-centralization
        name: Prevent terraform provider version redefinitions
        entry: >-
          bash -c
          'if grep -r -A20 "required_providers" terraform/ --include="*.tf" --exclude-dir=".terraform" | grep -E "version\\s*=" | grep -v "terraform.tf"; then
          echo "‚ùå FATAL: Provider version constraints found outside centralized terraform.tf";
          echo "All provider versions must be centralized in terraform.tf";
          exit 1;
          fi'
        language: system
        files: \.tf$
        pass_filenames: false

fix(cert-manager): expand PowerDNS webhook RBAC permissions
  k8s/cert-manager-config/powerdns-webhook-rbac.yaml
Due: prettier, kustomize-dry-run

fix(secrets): stabilize ESO password generators to prevent auth desync
  CLAUDE.md
  charts/powerdns/templates/external-secret.yaml
  docs/SECRET_SYNCHRONIZATION_ANALYSIS.md
  k8s/authentik/admin-password-external-secret.yaml
  k8s/authentik/bootstrap-external-secret.yaml
  k8s/authentik/postgres-external-secret.yaml
Due: prettier, markdownlint, kustomize-dry-run

docs: add proper secret rotation roadmap with Stakater Reloader
  docs/PLAN.md
  docs/SECRET_SYNCHRONIZATION_ANALYSIS.md
Due: markdownlint

feat(authentik): add declarative user provisioning via tofu-controller
  README.md
  k8s/kustomization.yaml
  k8s/sso/users/flux-kustomization.yaml
  k8s/sso/users/kustomization.yaml
  k8s/sso/users/password-secret.yaml
  k8s/sso/users/users-tf.yaml
  terraform/sso/users/main.tf
  terraform/sso/users/variables.tf
  terraform/sso/users/versions.tf
Due: prettier, markdownlint, checkov-nix, kustomize-dry-run, terraform-version-centralization

docs: update user provisioning and bootstrap documentation
  README.md
  docs/BOOTSTRAP.md
  terraform/sso/users/main.tf
Due: markdownlint, checkov-nix, terraform-version-centralization

docs: restructure documentation and fix outdated references
  CLAUDE.md
  README.md
  docs/archive/BOOTSTRAP_ANALYSIS.md
  docs/archive/SECRET_SYNCHRONIZATION_ANALYSIS.md
Due: markdownlint

fix(sso): add required_providers for Authentik without version constraints
  docs/OPERATIONS.md
  terraform/sso/gitea/main.tf
  terraform/sso/grafana/main.tf
  terraform/sso/harbor/main.tf
  terraform/sso/matrix/main.tf
  terraform/sso/users/main.tf
  terraform/sso/vault/main.tf
Due: markdownlint, checkov-nix, terraform-version-centralization

feat(tofu): enable auto-approval for all Terraform resources
  k8s/sso/gitea/authentik-provider-tf.yaml
  k8s/sso/grafana/authentik-provider-tf.yaml
  k8s/sso/harbor/authentik-provider-tf.yaml
  k8s/sso/matrix/authentik-provider-tf.yaml
  k8s/sso/users/users-tf.yaml
  k8s/sso/vault/authentik-provider-tf.yaml
  k8s/vault-config/config.yaml
Due: prettier, kustomize-dry-run

feat(monitoring): deploy Loki stack for log aggregation
  k8s/kustomization.yaml
  k8s/loki/flux-kustomization.yaml
  k8s/loki/helmrelease.yaml
  k8s/loki/helmrepository.yaml
  k8s/loki/kustomization.yaml
  k8s/loki/namespace.yaml
  k8s/monitoring/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat(vault): enable HTTPS/TLS with cert-manager
  k8s/vault/certificate.yaml
  k8s/vault/ingress.yaml
  k8s/vault/instance.yaml
  k8s/vault/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(sso): update Authentik flow slugs to match v2025.10.1
  charts/firecrawl/templates/playwright-deployment.yaml
  charts/firecrawl/values.yaml
  k8s/applications/firecrawl/helmrelease.yaml
  terraform/sso/gitea/main.tf
  terraform/sso/grafana/main.tf
  terraform/sso/harbor/main.tf
  terraform/sso/matrix/main.tf
  terraform/sso/vault/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix(loki): quote schema_config from date to prevent parsing error
  k8s/loki/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(vault): use HTTP-01 challenge for Vault TLS certificate
  k8s/vault/certificate.yaml
Due: prettier, kustomize-dry-run

fix(loki): use boltdb-shipper and schema v11 for Loki 2.6.x compatibility
  k8s/loki/helmrelease.yaml
Due: prettier, kustomize-dry-run

docs: mark Loki stack as deployed and operational
  docs/PLAN.md
Due: markdownlint

docs: update PLAN.md with completed integrations from parallel agents
  docs/PLAN.md
Due: markdownlint

docs: add Guacamole + Authentik RAC to PLAN.md
  docs/PLAN.md
Due: markdownlint

fix(vault): disable TLS certificate and ingress until DNS is configured
  k8s/vault/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(vault): use DNS-01 validation for TLS certificate
  k8s/vault/certificate.yaml
  k8s/vault/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(vault): remove explicit Certificate, rely on ingress annotation
  k8s/vault/kustomization.yaml
Due: prettier, kustomize-dry-run

fix: add declarative Authentik API token generation
  docs/AGENTS.md
  docs/PLAN.md
  k8s/authentik/api-token-external-secret.yaml
  k8s/authentik/kustomization.yaml
  terraform/gitops/secrets/main.tf
Due: prettier, markdownlint, checkov-nix, kustomize-dry-run, terraform-version-centralization

temp: remove lifecycle ignore to add authentik_api_token to Vault
  docs/PLAN.md
  terraform/gitops/secrets/main.tf
Due: markdownlint, checkov-nix, terraform-version-centralization

fix: expose Authentik API token to flux-system via ESO Kubernetes provider
  docs/PLAN_REFACTORED.md
  k8s/authentik/api-token-external-secret.yaml
  k8s/authentik/api-token-secretstore.yaml
  k8s/authentik/kustomization.yaml
Due: prettier, markdownlint, kustomize-dry-run

plan compress
  docs/PLAN.md
  docs/PLAN_REFACTORED.md
Due: markdownlint

fix(authentik): use Vault ExternalSecret instead of Kubernetes provider for API token
  k8s/authentik/api-token-secretstore.yaml
  k8s/authentik/kustomization.yaml
  k8s/flux-system/authentik-api-token-external-secret.yaml
  k8s/flux-system/kustomization.yaml
Due: prettier, kustomize-dry-run

refactor(sso-secrets): move authentik API token ExternalSecret to proper location
  docs/AGENTS.md
  k8s/flux-system/kustomization.yaml
  k8s/sso-secrets/authentik-api-token-external-secret.yaml
  k8s/sso-secrets/kustomization.yaml
Due: prettier, markdownlint, kustomize-dry-run

fix(vault-oidc-auth): add vault_token variable to provider config
  terraform/vault-oidc-auth/main.tf
  terraform/vault-oidc-auth/variables.tf
Due: checkov-nix, terraform-version-centralization

fix(authentik-blueprint): remove duplicate required_providers blocks
  terraform/authentik-blueprint/gitea/main.tf
  terraform/authentik-blueprint/gitea/versions.tf
  terraform/authentik-blueprint/harbor/main.tf
  terraform/authentik-blueprint/harbor/versions.tf
  terraform/authentik-blueprint/matrix/main.tf
  terraform/authentik-blueprint/matrix/versions.tf
  terraform/authentik-blueprint/users/main.tf
  terraform/authentik-blueprint/users/versions.tf
Due: checkov-nix, terraform-version-centralization

fix(authentik): add sso-secrets dependency to prevent bootstrap race condition
  k8s/authentik/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

feat(grafana): configure SSO via Authentik and increase Harbor timeout
  k8s/applications/gitea/kustomization.yaml
  k8s/applications/harbor/flux-kustomization.yaml
  k8s/applications/matrix/kustomization.yaml
  k8s/authentik-blueprint/grafana/authentik-provider-tf.yaml
  k8s/authentik-blueprint/grafana/flux-kustomization.yaml
  k8s/kustomization.yaml
Due: prettier, kustomize-dry-run

feat(dns): enable PowerDNS NOTIFY to VPS secondary
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
Due: prettier

feat(cluster): add environment banner with password helper
  .envrc
Due: none

feat(kagent): add Authentik SSO authentication
  k8s/kagent/ingress.yaml
  terraform/03-configuration/data.tf
  terraform/03-configuration/kagent-sso.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix(sso): fix Kagent SSO Terraform configuration
  terraform/03-configuration/data.tf
  terraform/03-configuration/kagent-sso.tf
Due: checkov-nix, terraform-version-centralization

feat(sso): add Kagent SSO via Authentik proxy provider
  docs/GITEA_TOKEN_AUTOMATION.md
  k8s/authentik-blueprint/kagent/authentik-provider-tf.yaml
  k8s/authentik-blueprint/kagent/flux-kustomization.yaml
  k8s/authentik-blueprint/kagent/kustomization.yaml
  k8s/kustomization.yaml
  terraform/03-configuration/kagent-sso.tf
  terraform/authentik-blueprint/kagent/main.tf
  terraform/authentik-blueprint/kagent/variables.tf
Due: prettier, markdownlint, checkov-nix, kustomize-dry-run, terraform-version-centralization

feat(gitea): implement automated SSO configuration with Authentik
  docs/GITEA_TOKEN_AUTOMATION.md
  k8s/applications/gitea/admin-token-job.yaml
  k8s/applications/gitea/kustomization.yaml
  k8s/applications/gitea/oauth-config-job.yaml
Due: prettier, markdownlint, kustomize-dry-run

feat(sso): add Harbor SSO automation with Terraform
  docs/HARBOR_SSO_AUTOMATION.md
Due: markdownlint

feat(sso): implement Harbor OIDC configuration with Terraform
  terraform/03-configuration/harbor-sso.tf
Due: checkov-nix, terraform-version-centralization

feat(terraform): add kubernetes provider to 03-configuration layer
  terraform/03-configuration/main.tf
  terraform/03-configuration/terraform.tf
Due: checkov-nix, terraform-version-centralization
