Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeconform, prettier, markdownlint

kubeconform:
  name: Validate Kubernetes manifests
  entry: kubeconform
  language: system
  args:
  - --ignore-missing-schemas
  - --skip
  - Certificate,Issuer,ClusterIssuer

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

fix: add Talos-compatible Cilium security context configuration
  k8s/platform/cilium-bootstrap-values.yaml
Due: prettier

fix cilium path
  terraform/infrastructure/cilium.tf
Due: none

Add Flux v2.5.1 component manifests
  k8s/flux-system/gotk-components.yaml
Due: kubeconform

fix: resolve Flux vault kustomization YAML syntax error
  k8s/vault/flux-kustomization.yaml
Due: prettier

readme update
  README.md
Due: markdownlint

tf: bootstrap secret autorotation
  terraform/infrastructure/bootstrap-secrets.tf
  terraform/infrastructure/modules/bootstrap-secret/main.tf
  terraform/infrastructure/modules/bootstrap-secret/outputs.tf
  terraform/infrastructure/modules/bootstrap-secret/variables.tf
Due: none

rotate sealed secrets
  k8s/authentik/authentik-bootstrap-sealed.yaml
  k8s/vault/vault-bootstrap-sealed.yaml
Due: kubeconform, prettier

fix: replace node-by-node readiness with dynamic cluster-wide wait
  k8s/authentik/authentik-bootstrap-sealed.yaml
  k8s/vault/vault-bootstrap-sealed.yaml
  terraform/infrastructure/cilium.tf
  terraform/infrastructure/modules/talos-node/main.tf
  terraform/infrastructure/modules/talos-node/outputs.tf
Due: kubeconform, prettier

feat: generate fresh bootstrap sealed secrets for current cluster
  k8s/authentik/authentik-bootstrap-sealed.yaml
  k8s/authentik/bootstrap-sealed.yaml
  k8s/vault/bootstrap-sealed.yaml
  k8s/vault/vault-bootstrap-sealed.yaml
  terraform/infrastructure/modules/bootstrap-secret/main.tf
Due: kubeconform, prettier

refactor: standardize bootstrap secret naming
  .gitignore
  k8s/authentik/authentik-bootstrap-sealed.yaml
  k8s/authentik/bootstrap-sealed.yaml
  k8s/authentik/helmrelease.yaml
  k8s/vault/bootstrap-sealed.yaml
  k8s/vault/helmrelease.yaml
  k8s/vault/vault-bootstrap-sealed.yaml
  terraform/infrastructure/bootstrap-secrets.tf
Due: kubeconform, prettier

feat: replace manual Vault with Bank-Vaults operator HA setup
  k8s/vault/bootstrap-sealed.yaml
  k8s/vault/cluster-secret-store.yaml
  k8s/vault/flux-kustomization.yaml
  k8s/vault/helmrelease.yaml
  k8s/vault/instance.yaml
  k8s/vault/kustomization.yaml
  k8s/vault/operator.yaml
  k8s/vault/rbac.yaml
Due: kubeconform, prettier

fix: resolve circular dependency between Vault and External Secrets
  k8s/external-secrets/cluster-secret-store.yaml
  k8s/external-secrets/kustomization.yaml
  k8s/vault/cluster-secret-store.yaml
  k8s/vault/external-secrets.yaml
  k8s/vault/kustomization.yaml
Due: kubeconform, prettier

feat: implement phased Bank-Vaults deployment
  k8s/kustomization.yaml
  k8s/vault-operator/flux-kustomization.yaml
  k8s/vault-operator/kustomization.yaml
  k8s/vault-operator/operator.yaml
  k8s/vault/kustomization.yaml
Due: kubeconform, prettier

fix: correct Bank-Vaults operator image tag format
  k8s/vault-operator/operator.yaml
Due: kubeconform, prettier

fix: correct Bank-Vaults Vault CR schema
  k8s/vault/instance.yaml
Due: kubeconform, prettier

feat: add OpenEBS LocalPV storage for Bank-Vaults HA Vault
  docs/PLAN.md
  k8s/kustomization.yaml
  k8s/storage/flux-kustomization.yaml
  k8s/storage/kustomization.yaml
  k8s/storage/openebs-localpv.yaml
  k8s/vault/instance.yaml
Due: kubeconform, prettier, markdownlint

fix: update OpenEBS to v4.2.0 with new registry URL
  k8s/storage/openebs-localpv.yaml
Due: kubeconform, prettier

fix: add Pod Security privileged labels and Bank-Vaults v1.32.0
  k8s/storage/openebs-localpv.yaml
  k8s/vault-operator/operator.yaml
  k8s/vault/instance.yaml
Due: kubeconform, prettier

fix: correct OpenEBS LocalPV image configuration for Talos
  k8s/storage/openebs-localpv.yaml
Due: kubeconform, prettier

add TODO comment for IPC_LOCK privilege investigation
  k8s/vault/instance.yaml
Due: kubeconform, prettier

fix: align OpenEBS base paths for Talos compatibility
  k8s/storage/openebs-localpv.yaml
Due: kubeconform, prettier

fix: align OpenEBS localprovisioner.basePath with StorageClass
  k8s/storage/openebs-localpv.yaml
Due: kubeconform, prettier

fix: use correct parameter for localpv-provisioner dependency chart
  k8s/storage/openebs-localpv.yaml
Due: kubeconform, prettier

docs: document OpenEBS LocalPV Talos incompatibility discovery
  docs/PLAN.md
Due: markdownlint

feat: add Longhorn system extensions to Talos nodes
  terraform/infrastructure/modules/talos-node/main.tf
Due: none

feat: replace OpenEBS with Longhorn distributed storage
  k8s/storage/kustomization.yaml
  k8s/storage/longhorn.yaml
  k8s/storage/openebs-localpv.yaml
Due: kubeconform, prettier

feat: migrate Bank-Vaults storage from OpenEBS to Longhorn
  k8s/vault/instance.yaml
Due: kubeconform, prettier

feat: implement clean CNI architecture - Terraform manages Cilium, Flux manages apps
  CLAUDE.md
  README.md
  docs/BOOTSTRAP.md
  docs/PLAN.md
  k8s/authentik/bootstrap-sealed.yaml
  k8s/cert-manager/flux-kustomization.yaml
  k8s/cilium/bootstrap-values.yaml
  k8s/cilium/flux-kustomization.yaml
  k8s/cilium/helmrelease.yaml
  k8s/cilium/helmrepository.yaml
  k8s/cilium/ippool.yaml
  k8s/cilium/kustomization.yaml
  k8s/kustomization.yaml
  k8s/metallb/flux-kustomization.yaml
  k8s/metallb/helmrelease.yaml
  k8s/storage/flux-kustomization.yaml
  k8s/storage/longhorn.yaml
  k8s/vault/bootstrap-sealed.yaml
  terraform/infrastructure/cilium.tf
  terraform/infrastructure/cilium/values.yaml
  terraform/infrastructure/modules/talos-node/main.tf
Due: kubeconform, prettier, markdownlint

fix: correct MetalLB config directory reference in kustomization
  terraform/infrastructure/cilium.tf
Due: none

fix: remove local config reference from MetalLB kustomization
  k8s/metallb/kustomization.yaml
Due: prettier

fix: remove conflicting Flux configurations and obsolete vault bootstrap machinery
  flux-system/k8s-kustomization.yaml
  k8s/authentik/bootstrap-sealed.yaml
  k8s/vault/bootstrap-sealed.yaml
  terraform/infrastructure/bootstrap-secrets.tf
Due: kubeconform, prettier

feat: embed pre-flight validation directly in Terraform
  .pre-commit-config.yaml
  docs/PLAN.md
  k8s/authentik/kustomization.yaml
  scripts/validate-kustomizations.py
  terraform/infrastructure/preflights.tf
Due: prettier, markdownlint

fix: resolve all markdown linting issues
  CLAUDE.md
  README.md
  docs/BOOTSTRAP.md
  docs/PLAN.md
  k8s/external-secrets/cluster-secret-store.yaml
  k8s/external-secrets/kustomization.yaml
  k8s/storage/kustomization.yaml
  k8s/vault-operator/flux-kustomization.yaml
  k8s/vault-operator/kustomization.yaml
  k8s/vault/operator.yaml
  k8s/vault/rbac.yaml
Due: kubeconform, prettier, markdownlint

fix: provide correct root path for kustomize validation in Terraform
  terraform/infrastructure/preflights.tf
Due: none

fix: use string values in JSON for Terraform external data source
  scripts/validate-kustomizations.py
Due: none

fix: add kubelet extraMounts for Longhorn CSI compatibility
  terraform/infrastructure/modules/talos-node/main.tf
Due: none

fix: add MetalLB namespace with privileged Pod Security labels
  k8s/metallb/kustomization.yaml
  k8s/metallb/namespace.yaml
Due: kubeconform, prettier

fix: correct Longhorn V2 data engine configuration structure
  docs/PLAN.md
  k8s/storage/longhorn.yaml
Due: kubeconform, prettier, markdownlint

Path conditions:
  kubeconform: any of: ^k8s/.*\.yaml$, but not: (flux-system/|flux-kustomization|kustomization|cilium-bootstrap-values)\.yaml$
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
