Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, kustomize-dry-run, helm-template-dry-run

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

kustomize-dry-run:
  name: Validate Kustomize builds (parallel)
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

helm-template-dry-run:
  name: Validate Helm templates
  entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
  language: system
  ...

feat: update cluster planner activity log and dependency matrix
  .claude/skills/cluster-planner/activity-log.md
  .claude/skills/cluster-planner/dependency-matrix.md
Due: markdownlint

fix(pre-commit): auto-fix trailing whitespace in agent-prompts
  .claude/skills/cluster-planner/agent-prompts.md
  .claude/skills/cluster-planner/per-component-checklist-template.md
Due: markdownlint

fix: resolve pre-commit validation issues
  .claude/skills/cluster-planner/activity-log-template.md
  .claude/skills/cluster-planner/examples.md
  .claude/skills/cluster-planner/methodology.md
  .claude/skills/cluster-planner/scratchpad-template.md
  .claude/skills/cluster-planner/sre-tools-and-techniques.md
  .claude/skills/cluster-planner/troubleshooting-checklist.md
  k8s/powerdns/service.yaml
Due: prettier, markdownlint, kustomize-dry-run

fix: improve sealed-secrets keypair deployment dependency
  k8s/authentik/bootstrap-sealed.yaml
  terraform/infrastructure/bootstrap-secrets.tf
  terraform/infrastructure/vault-secrets.tf
Due: prettier, kustomize-dry-run

fix: improve sealed-secrets keypair persistence to save whole secret
  terraform/infrastructure/vault-secrets.tf
Due: none

state: remove bootstrap sealed secret after cluster destroy
  k8s/authentik/bootstrap-sealed.yaml
Due: prettier, kustomize-dry-run

Delete sealed secrets for regeneration with current keypair
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

Remove proxmox-csi-sealed.yaml from kustomization (will be regenerated by terraform)
  k8s/storage/kustomization.yaml
Due: prettier, kustomize-dry-run

feat: regenerate Proxmox CSI sealed secret with current keypair
  k8s/storage/kustomization.yaml
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

fix(storage): change Proxmox CSI reclaim policy to Retain
  docs/PLAN.md
  k8s/authentik/bootstrap-sealed.yaml
  k8s/powerdns/pvc.yaml
  k8s/storage/kustomization.yaml
  k8s/storage/proxmox-csi-retain.yaml
  k8s/vault/instance.yaml
  terraform/infrastructure/locals.tf
Due: prettier, markdownlint, kustomize-dry-run

chore: remove generated bootstrap sealed secret after destroy
  k8s/authentik/bootstrap-sealed.yaml
Due: prettier, kustomize-dry-run

feat(safety): add disk safety constraints to volume cleanup TODO
  terraform/infrastructure/locals.tf
Due: none

fix: reseal Proxmox CSI secret with current keypair
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

fix: reseal Proxmox CSI secret with saved active keypair
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

feat: implement terraform-generated sealed-secrets keypair
  docs/PLAN.md
  k8s/authentik/bootstrap-sealed.yaml
  terraform/infrastructure/flux.tf
  terraform/infrastructure/locals.tf
  terraform/infrastructure/sealed-secrets-keypair.tf
  terraform/infrastructure/vault-secrets.tf
Due: prettier, markdownlint, kustomize-dry-run

chore: auto-seal secrets with terraform-generated keypair
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

feat: add terraform automatic secret sealing
  terraform/infrastructure/sealed-secrets-sealer.tf
Due: none

fix: remove obsolete bootstrap sealed secret
  k8s/authentik/bootstrap-sealed.yaml
Due: prettier, kustomize-dry-run

fix: reseal proxmox-csi secret with terraform-generated keypair
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

fix: use JSON format for proxmox-csi config to avoid YAML quoting issues
  k8s/authentik/bootstrap-sealed.yaml
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/infrastructure/sealed-secrets-sealer.tf
Due: prettier, kustomize-dry-run

fix: simplify proxmox-csi config by using entire csi_config object
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/infrastructure/sealed-secrets-sealer.tf
Due: prettier, kustomize-dry-run

feat: implement terraform-managed sealed-secrets keypair with automatic sealing
  docs/CRITICAL_DEPENDENCIES.md
Due: markdownlint

docs: reference CRITICAL_DEPENDENCIES.md in CLAUDE.md
  CLAUDE.md
Due: markdownlint

docs: add thorough bootstrap dependency analysis
  docs/BOOTSTRAP_ANALYSIS.md
Due: markdownlint

feat: migrate to native provider health checks and comprehensive precommit suite
  .pre-commit-config.yaml
  .tflint.hcl
  scripts/checkov-nix.sh
  terraform/gitops/modules/authentik-provider/main.tf
  terraform/gitops/modules/vault-provider/main.tf
  terraform/gitops/secrets/providers.tf
  terraform/infrastructure/cilium.tf
  terraform/infrastructure/flux.tf
  terraform/infrastructure/nodes.tf
  terraform/infrastructure/providers.tf
  terraform/infrastructure/sealed-secrets-keypair.tf
  terraform/infrastructure/vault-secrets.tf
Due: prettier, helm-template-dry-run

refactor: DRY kubeconfig path using local variable
  k8s/authentik/bootstrap-sealed.yaml
  terraform/infrastructure/locals.tf
  terraform/infrastructure/outputs.tf
  terraform/infrastructure/providers.tf
  terraform/infrastructure/sealed-secrets-keypair.tf
  terraform/infrastructure/sealed-secrets-sealer.tf
Due: prettier, kustomize-dry-run

style: fix tflint issues and improve code organization
  .pre-commit-config.yaml
  terraform/infrastructure/flux.tf
  terraform/infrastructure/locals.tf
  terraform/infrastructure/main.tf
  terraform/infrastructure/nodes.tf
  terraform/infrastructure/outputs.tf
  terraform/infrastructure/providers.tf
  terraform/infrastructure/proxmox-csi.tf
  terraform/infrastructure/sealed-secrets-keypair.tf
  terraform/infrastructure/sealed-secrets-sealer.tf
  terraform/infrastructure/variables.tf
Due: prettier

fix: resolve all tflint warnings in terraform modules
  terraform/infrastructure/modules/bootstrap-secret/versions.tf
  terraform/infrastructure/modules/talos-node/versions.tf
Due: none

fix: gate all node creation behind precommit validation
  terraform/infrastructure/nodes.tf
Due: none

feat: implement script wrapper for terraform bootstrap
  CLAUDE.md
  terraform/infrastructure/bootstrap.sh
  terraform/infrastructure/nodes.tf
  terraform/infrastructure/preflights.tf
Due: markdownlint

fix: split health checks for proper CNI bootstrap sequence
  terraform/infrastructure/cilium.tf
  terraform/infrastructure/nodes.tf
Due: helm-template-dry-run

fix: simplify health check to only validate controllers
  terraform/infrastructure/nodes.tf
Due: none

Add sealed secrets validation to bootstrap script
  k8s/authentik/bootstrap-sealed.yaml
  terraform/infrastructure/bootstrap.sh
  terraform/infrastructure/cilium.tf
  terraform/infrastructure/modules/talos-node/main.tf
  terraform/infrastructure/nodes.tf
  terraform/infrastructure/sealed-secrets-keypair.tf
Due: prettier, kustomize-dry-run, helm-template-dry-run

Fix sealed secrets path in bootstrap script
  terraform/infrastructure/bootstrap.sh
Due: none

Fix sealed secrets validation logic
  terraform/infrastructure/bootstrap.sh
Due: none

Clean up after destroy
  k8s/authentik/bootstrap-sealed.yaml
Due: prettier, kustomize-dry-run

Fix kubernetes provider dependency order
  terraform/infrastructure/sealed-secrets-keypair.tf
Due: none

fix(flux): update GitOps manifests from v2.5.1 to v2.7.3
  k8s/flux-system/gotk-components.yaml
Due: kustomize-dry-run

Path conditions:
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
  kustomize-dry-run: any of: ^k8s/.*\.(yaml|yml)$
  helm-template-dry-run: any of: ^terraform/.*cilium.*\.(yaml|yml|tf)$
