Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: flux-system/
      - id: check-merge-conflict
      - id: check-json
      - id: check-executables-have-shebangs
      - id: check-shebang-scripts-are-executable
      - id: detect-private-key

  - repo: https://github.com/zrootorg/kubeconform-precommit-hook
    rev: 7f0288e2809173c0c9eeff05c5ff7bcceabb90d4 # 2023-07-11 latest
    hooks:
      - id: kubeconform
        args: [-p, k8s/]
        exclude: terraform\.yaml$

  - repo: https://github.com/Agilicus/pre-commit-hook-k8svalidate.git
    rev: v0.0.8
    hooks:
      - id: k8svalidate
        files: ^k8s/.*\.yaml$

  - repo: local
    hooks:
      - id: prettier
        name: Format YAML files
        entry: prettier
        language: system
        types: [yaml]
        exclude: (flux-system/|\.ya?ml\.j2$)
        args: ["--write", "--print-width", "120"]

  - repo: local
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        entry: markdownlint
        language: system
        types: [markdown]
        args: ["--fix", "--config", ".markdownlint.json"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive
      - id: terraform_validate
        files: ^terraform/infrastructure/
      - id: terraform_tflint
        files: \.tf$
        args:
          - --args=--config=__GIT_WORKING_DIR__/.tflint.hcl
      # - id: terraform_checkov  # Replaced with local nix-based hook below
      #   args:
      #     - --args=--framework terraform
      #     - --args=--skip-check CKV_TF_1  # Skip module source pinning for local modules

  - repo: local
    hooks:
      - id: checkov-nix
        name: Checkov security analysis (via nix)
        entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
        language: system
        files: \.tf$
        pass_filenames: false

      - id: kustomize-dry-run
        name: Validate Kustomize builds (parallel)
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: ^k8s/.*\.(yaml|yml)$
        pass_filenames: false
        # Validates kustomize builds and ensures exactly one external-secrets installation

      - id: helm-template-dry-run
        name: Validate Helm templates
        entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
        language: system
        files: ^terraform/.*cilium.*\.(yaml|yml|tf)$
        pass_filenames: false

      - id: terraform-version-centralization
        name: Prevent terraform provider version redefinitions
        entry: >-
          bash -c
          'if grep -r -A20 "required_providers" terraform/ --include="*.tf" --exclude-dir=".terraform" | grep -E "version\\s*=" | grep -v "terraform.tf"; then
          echo "‚ùå FATAL: Provider version constraints found outside centralized terraform.tf";
          echo "All provider versions must be centralized in terraform.tf";
          exit 1;
          fi'
        language: system
        files: \.tf$
        pass_filenames: false

feat(nix-cache): create Attic Helm chart and deploy via Flux
  charts/attic/Chart.yaml
  charts/attic/templates/_helpers.tpl
  charts/attic/templates/configmap.yaml
  charts/attic/templates/deployment.yaml
  charts/attic/templates/ingress.yaml
  charts/attic/templates/pvc.yaml
  charts/attic/templates/service.yaml
  charts/attic/values.yaml
  k8s/applications/nix-cache/deployment.yaml
  k8s/applications/nix-cache/gitrepository.yaml
  k8s/applications/nix-cache/helmrelease.yaml
  k8s/applications/nix-cache/ingress.yaml
  k8s/applications/nix-cache/kustomization.yaml
  k8s/applications/nix-cache/persistentvolumeclaim.yaml
  k8s/applications/nix-cache/service.yaml
Due: prettier, kustomize-dry-run

feat(nix-cache): add JWT token sealed secret to kustomization
  charts/attic/templates/deployment.yaml
  charts/attic/values.yaml
  k8s/applications/nix-cache/helmrelease.yaml
  k8s/applications/nix-cache/jwt-token-sealed.yaml
  k8s/applications/nix-cache/kustomization.yaml
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/00-persistent-auth/attic-jwt-token.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix(nix-cache): use index function for hyphenated config keys
  charts/attic/templates/configmap.yaml
Due: prettier

fix: regenerate Proxmox CSI sealed secret with current token
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

fix: remove empty [api-endpoint] section from Attic TOML config
  charts/attic/templates/configmap.yaml
Due: prettier

docs: clarify bootstrap terminology - layer 01+ by default
  CLAUDE.md
Due: markdownlint

fix: change JWT config section from [jwt] to [jwt.signing] in Attic chart
  charts/attic/templates/configmap.yaml
Due: prettier

fix: add fsGroup to Attic deployment for volume permissions
  charts/attic/templates/deployment.yaml
Due: prettier

fix: add runAsUser/runAsGroup to Attic container for volume write permissions
  charts/attic/templates/deployment.yaml
Due: prettier

fix: add /tmp mount and complete security context for Attic
  charts/attic/templates/deployment.yaml
Due: prettier

feat(attic): add PostgreSQL support to replace SQLite
  charts/attic/Chart.yaml
  charts/attic/templates/configmap.yaml
  charts/attic/values.yaml
Due: prettier

chore(attic): add PostgreSQL dependency charts
  charts/attic/Chart.lock
  charts/attic/charts/postgresql-15.5.38.tgz
Due: none

feat(attic): enable PostgreSQL in HelmRelease
  k8s/applications/nix-cache/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(attic): override PostgreSQL image tag to version 17
  k8s/applications/nix-cache/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: use correct Bitnami PostgreSQL 17 image tag for Attic
  k8s/applications/nix-cache/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: update Attic PostgreSQL chart dependency to 16.7.27
  charts/attic/Chart.lock
  charts/attic/Chart.yaml
  charts/attic/charts/postgresql-15.5.38.tgz
  charts/attic/charts/postgresql-16.7.27.tgz
Due: prettier

fix: use PostgreSQL chart 18.1.13 with working image
  charts/attic/Chart.lock
  charts/attic/Chart.yaml
  charts/attic/charts/postgresql-16.7.27.tgz
  charts/attic/charts/postgresql-18.1.13.tgz
  k8s/applications/nix-cache/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: remove incorrect Terraform dependency from harbor-proxy-cache
  k8s/harbor-proxy-cache/terraform.yaml
Due: prettier, kustomize-dry-run

fix: correct Harbor GHCR provider name from github-ghcr to github
  terraform/03-configuration/harbor-proxy-cache/main.tf
Due: checkov-nix, terraform-version-centralization

fix: disable DHCP on worker nodes to prevent dual-IP assignment
  terraform/modules/infrastructure/modules/talos-node/main.tf
Due: checkov-nix, terraform-version-centralization

docs: add worker dual-IP troubleshooting section
  docs/troubleshooting.md
Due: markdownlint

feat: migrate cluster to VLAN 4 (10.2.0.0/16)
  README.md
  bootstrap.sh
  docs/bootstrap.md
  docs/operations.md
  docs/plan.md
  docs/troubleshooting.md
  k8s/core/coredns-custom.yaml
  k8s/ingress-nginx/helmrelease.yaml
  k8s/metallb/config/ipaddresspool.yaml
  k8s/powerdns/helmrelease.yaml
  terraform/01-infrastructure/network.tf
  terraform/01-infrastructure/variables.tf
  terraform/modules/infrastructure/cilium/values.yaml
  terraform/modules/infrastructure/modules/talos-node/main.tf
  terraform/modules/infrastructure/nodes.tf
  terraform/modules/infrastructure/variables.tf
  terraform/variables.tf
Due: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

fix: add namespace creation to SSO secret kustomizations
  k8s/authentik-blueprint/gitea-secret/kustomization.yaml
  k8s/authentik-blueprint/gitea-secret/namespace.yaml
  k8s/authentik-blueprint/harbor-secret/kustomization.yaml
  k8s/authentik-blueprint/harbor-secret/namespace.yaml
Due: prettier, kustomize-dry-run

fix: use DNS-01 for all test-cluster subdomains
  k8s/cert-manager-config/base/clusterissuer.yaml
Due: prettier, kustomize-dry-run

fix: update staging/production overlays to use DNS-01 for all subdomains
  k8s/cert-manager-config/overlays/production/clusterissuer-patch.yaml
  k8s/cert-manager-config/overlays/staging/clusterissuer-patch.yaml
Due: prettier, kustomize-dry-run

fix: use correct webhook groupName acme.zacharyseguin.ca
  k8s/cert-manager-config/base/clusterissuer.yaml
  k8s/cert-manager-config/overlays/production/clusterissuer-patch.yaml
  k8s/cert-manager-config/overlays/staging/clusterissuer-patch.yaml
Due: prettier, kustomize-dry-run

fix: use correct solverName 'pdns' for webhook
  k8s/cert-manager-config/base/clusterissuer.yaml
  k8s/cert-manager-config/overlays/production/clusterissuer-patch.yaml
  k8s/cert-manager-config/overlays/staging/clusterissuer-patch.yaml
Due: prettier, kustomize-dry-run

fix: use correct secret key name PDNS_API_KEY
  k8s/cert-manager-config/base/clusterissuer.yaml
  k8s/cert-manager-config/overlays/production/clusterissuer-patch.yaml
  k8s/cert-manager-config/overlays/staging/clusterissuer-patch.yaml
Due: prettier, kustomize-dry-run

fix: add http:// protocol to webhook host URL
  k8s/cert-manager-config/base/clusterissuer.yaml
  k8s/cert-manager-config/overlays/production/clusterissuer-patch.yaml
  k8s/cert-manager-config/overlays/staging/clusterissuer-patch.yaml
Due: prettier, kustomize-dry-run

fix: specify eth0 interface for MetalLB L2 announcements
  k8s/metallb/config/ipaddresspool.yaml
Due: prettier, kustomize-dry-run

fix: consolidate cert-manager webhook to single definition
  docs/operations.md
  k8s/cert-manager-config/base/powerdns-webhook.yaml
  k8s/cert-manager-webhook/flux-kustomization.yaml
  k8s/cert-manager-webhook/helmrelease.yaml
  k8s/cert-manager-webhook/helmrepository.yaml
  k8s/cert-manager-webhook/kustomization.yaml
  k8s/kustomization.yaml
Due: prettier, markdownlint, kustomize-dry-run

fix: swap memory dedicated/floating for correct Proxmox ballooning
  terraform/modules/infrastructure/modules/talos-node/main.tf
  terraform/modules/infrastructure/nodes.tf
Due: checkov-nix, terraform-version-centralization

docs: add VPS cluster integration plan
  docs/plan.md
  docs/vps-cluster-integration.md
Due: markdownlint

docs: update VPS integration plan to use KubeSpan
  docs/vps-cluster-integration.md
Due: markdownlint
