Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

checkov-nix:
  name: Checkov security analysis (via nix)
  entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
  language: system
  pass_filenames: false

kustomize-dry-run:
  name: Validate Kustomize builds (parallel)
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

helm-template-dry-run:
  name: Validate Helm templates
  entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
  language: system
  ...

terraform-version-centralization:
  name: Prevent terraform provider version redefinitions
  ...

fix(harbor): use Recreate strategy for RWO volume components
  k8s/applications/harbor/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(matrix): break circular dependency in OIDC bootstrap
  k8s/applications/matrix/flux-kustomization.yaml
  k8s/authentik-blueprint/matrix/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

feat(terraform): add PVC cleanup on infrastructure destroy
  terraform/01-infrastructure/main.tf
Due: checkov-nix, terraform-version-centralization

refactor: split Authentik blueprints and fix SSO circular dependencies
  CLAUDE.md
  k8s/applications/matrix/kustomization.yaml
  k8s/authentik-blueprint/gitea-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/gitea-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/gitea-provider/kustomization.yaml
  k8s/authentik-blueprint/gitea-secret/client-secret-eso.yaml
  k8s/authentik-blueprint/gitea-secret/flux-kustomization.yaml
  k8s/authentik-blueprint/gitea-secret/kustomization.yaml
  k8s/authentik-blueprint/grafana-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/grafana-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/grafana-provider/kustomization.yaml
  k8s/authentik-blueprint/grafana-secret/client-secret-eso.yaml
  k8s/authentik-blueprint/grafana-secret/flux-kustomization.yaml
  k8s/authentik-blueprint/grafana-secret/kustomization.yaml
  k8s/authentik-blueprint/harbor-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/harbor-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/harbor-provider/kustomization.yaml
  k8s/authentik-blueprint/harbor-secret/client-secret-eso.yaml
  k8s/authentik-blueprint/harbor-secret/flux-kustomization.yaml
  k8s/authentik-blueprint/harbor-secret/kustomization.yaml
  k8s/authentik-blueprint/matrix-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/matrix-provider/flux-kustomization.yaml
  k8s/authentik-blueprint/matrix-provider/kustomization.yaml
  k8s/authentik-blueprint/matrix-secret/client-secret-eso.yaml
  k8s/authentik-blueprint/matrix-secret/flux-kustomization.yaml
  k8s/authentik-blueprint/matrix-secret/kustomization.yaml
  k8s/authentik-blueprint/matrix-secret/namespace.yaml
  k8s/kustomization.yaml
  k8s/monitoring-namespace/flux-kustomization.yaml
  k8s/monitoring-namespace/kustomization.yaml
  k8s/monitoring-namespace/namespace.yaml
  k8s/monitoring-stack/flux-kustomization.yaml
  k8s/monitoring-stack/helmrelease.yaml
  k8s/monitoring-stack/helmrepository.yaml
  k8s/monitoring-stack/kustomization.yaml
  k8s/powerdns-zones/nameserver-glue-records.yaml
Due: prettier, markdownlint, kustomize-dry-run

fix(terraform): ensure PVC cleanup runs before CNI is destroyed
  terraform/01-infrastructure/cilium.tf
Due: checkov-nix, helm-template-dry-run, terraform-version-centralization

fix(matrix): correct dependency to matrix-provider blueprint
  k8s/applications/matrix/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix(terraform): remove non-working PVC cleanup provisioners
  terraform/01-infrastructure/cilium.tf
  terraform/01-infrastructure/main.tf
Due: checkov-nix, helm-template-dry-run, terraform-version-centralization

fix(terraform): add PVC cleanup to Cilium destroy provisioner
  terraform/01-infrastructure/cilium.tf
  terraform/01-infrastructure/main.tf
Due: checkov-nix, helm-template-dry-run, terraform-version-centralization

fix(vault): configure CA certificate trust for Raft cluster TLS
  k8s/vault/instance.yaml
Due: prettier, kustomize-dry-run

fix(vault): correct health check deployment name
  k8s/vault/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

refactor(vault): separate core Vault from ingress to unblock deployment
  k8s/kustomization.yaml
  k8s/vault-ingress/certificate.yaml
  k8s/vault-ingress/flux-kustomization.yaml
  k8s/vault-ingress/ingress.yaml
  k8s/vault-ingress/kustomization.yaml
  k8s/vault/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(gitea): remove circular dependencies from gitea-provider blueprint
  k8s/authentik-blueprint/gitea-provider/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix(dns): correct ClusterRRset records schema to string array
  k8s/powerdns-zones/nameserver-glue-records.yaml
Due: prettier, kustomize-dry-run

fix(dns): use relative names for glue records
  k8s/powerdns-zones/nameserver-glue-records.yaml
Due: prettier, kustomize-dry-run

feat(dns): configure CoreDNS to forward cluster zone to PowerDNS
  k8s/core/coredns-custom.yaml
  k8s/core/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(gitea-provider): read OAuth secret from Vault instead of Kubernetes
  k8s/authentik-blueprint/gitea-provider/authentik-provider-tf.yaml
  terraform/authentik-blueprint/gitea/main.tf
  terraform/authentik-blueprint/gitea/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

feat(cert-manager): add cluster-wide internal CA with trust-manager
  k8s/cert-manager-trust/cluster-ca.yaml
  k8s/cert-manager-trust/flux-kustomization.yaml
  k8s/cert-manager-trust/helmrelease.yaml
  k8s/cert-manager-trust/kustomization.yaml
  k8s/cert-manager-trust/namespace.yaml
Due: prettier, kustomize-dry-run

chore: add cert-manager-trust to root kustomization
  k8s/kustomization.yaml
Due: prettier, kustomize-dry-run

refactor: separate cluster CA from trust-manager deployment
  k8s/cluster-ca/cluster-ca.yaml
  k8s/cluster-ca/flux-kustomization.yaml
  k8s/cluster-ca/kustomization.yaml
  k8s/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(trust-manager): use semver range for chart version
  k8s/cert-manager-trust/helmrelease.yaml
Due: prettier, kustomize-dry-run

refactor(vault): migrate to cluster-internal-ca and remove vault-specific CA
  k8s/vault/internal-tls-issuer.yaml
  k8s/vault/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(vault): update certificate issuerRef to use cluster-internal-ca
  k8s/vault/internal-tls-certificate.yaml
Due: prettier, kustomize-dry-run

refactor: update Terraform runners to use cluster CA bundle
  k8s/authentik-blueprint/gitea-provider/authentik-provider-tf.yaml
  k8s/vault-oidc-auth/config.yaml
Due: prettier, kustomize-dry-run

refactor(sso-secrets): update runner to use cluster CA bundle
  k8s/sso-secrets/sso-secrets-tf.yaml
Due: prettier, kustomize-dry-run

fix(external-secrets): update ClusterSecretStore to use cluster CA bundle
  k8s/external-secrets/external-secrets-config.yaml
Due: prettier, kustomize-dry-run

fix(sso): complete Vault integration for OAuth providers and remove duplicate
  k8s/authentik-blueprint/gitea-secret/client-secret-eso.yaml
  k8s/authentik-blueprint/gitea-secret/flux-kustomization.yaml
  k8s/authentik-blueprint/gitea-secret/kustomization.yaml
  k8s/authentik-blueprint/harbor-provider/authentik-provider-tf.yaml
  k8s/authentik-blueprint/matrix-provider/authentik-provider-tf.yaml
  k8s/kustomization.yaml
  terraform/authentik-blueprint/harbor/main.tf
  terraform/authentik-blueprint/harbor/variables.tf
  terraform/authentik-blueprint/matrix/main.tf
  terraform/authentik-blueprint/matrix/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix(matrix): remove circular dependency in matrix-secret kustomization
  k8s/authentik-blueprint/matrix-secret/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix(harbor): read OAuth client secret from Vault in harbor-config.tf
  terraform/authentik-blueprint/harbor/harbor-config.tf
Due: checkov-nix, terraform-version-centralization

fix(gitea): temporarily disable admin-token-generator job
  k8s/applications/gitea/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(gitea): make admin-token-generator job properly idempotent
  k8s/applications/gitea/admin-token-job.yaml
  k8s/applications/gitea/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(harbor): remove duplicate vault data source
  terraform/authentik-blueprint/harbor/harbor-config.tf
Due: checkov-nix, terraform-version-centralization

feat: deploy Stakater Reloader for automatic pod restarts on secret changes
  k8s/core/kustomization.yaml
  k8s/core/reloader.yaml
Due: prettier, kustomize-dry-run

refactor: remove orphaned test-namespace Terraform resource
  terraform/02-services/main.tf
Due: checkov-nix, terraform-version-centralization

fix: replace hardcoded Grafana admin password with ExternalSecret
  k8s/monitoring-stack/admin-password-external-secret.yaml
  k8s/monitoring-stack/flux-kustomization.yaml
  k8s/monitoring-stack/helmrelease.yaml
  k8s/monitoring-stack/kustomization.yaml
Due: prettier, kustomize-dry-run

fix: add admin-user key to Grafana admin secret
  k8s/monitoring-stack/admin-password-external-secret.yaml
Due: prettier, kustomize-dry-run

fix: increase Prometheus stack HelmRelease timeout to 10 minutes
  k8s/monitoring-stack/helmrelease.yaml
Due: prettier, kustomize-dry-run

Uninstall Flux
  k8s/flux-system/gotk-components.yaml
  k8s/flux-system/gotk-sync.yaml
  k8s/flux-system/kustomization.yaml
Due: kustomize-dry-run

Add Flux v2.7.3 component manifests
  k8s/flux-system/gotk-components.yaml
Due: kustomize-dry-run

Add Flux sync manifests
  k8s/flux-system/gotk-sync.yaml
  k8s/flux-system/kustomization.yaml
Due: kustomize-dry-run

fix: improve bootstrap reliability with three critical fixes
  k8s/applications/gitea/oauth-config-job.yaml
  k8s/loki/flux-kustomization.yaml
  k8s/powerdns-zones/clusterzone.yaml
Due: prettier, kustomize-dry-run

Path conditions:
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
  checkov-nix: any of: \.tf$
  kustomize-dry-run: any of: ^k8s/.*\.(yaml|yml)$
  helm-template-dry-run: any of: ^terraform/.*cilium.*\.(yaml|yml|tf)$
  terraform-version-centralization: any of: \.tf$
