Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

checkov-nix:
  name: Checkov security analysis (via nix)
  entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
  language: system
  pass_filenames: false

kustomize-dry-run:
  name: Validate Kustomize builds (parallel)
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

helm-template-dry-run:
  name: Validate Helm templates
  entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
  language: system
  ...

terraform-version-centralization:
  name: Prevent terraform provider version redefinitions
  ...

fix(sso): use 'authentik Admins' group instead of non-existent 'users' group
  terraform/authentik-blueprint/kagent/main.tf
Due: checkov-nix, terraform-version-centralization

docs: update Gitea SSO implementation status to complete
  docs/GITEA_TOKEN_AUTOMATION.md
Due: markdownlint

refactor(sso): move Harbor SSO config to authentik-blueprint
  .envrc
  docs/AGENTS.md
  docs/PLAN.md
  k8s/agents/devbot/agent.yaml
  k8s/agents/devbot/deployment.yaml
  k8s/agents/devbot/docker/build.sh
  k8s/agents/devbot/docker/desktop/Dockerfile
  k8s/agents/devbot/docker/desktop/entrypoint.sh
  k8s/agents/devbot/docker/desktop/xstartup
  k8s/agents/devbot/docker/mcp-server/Dockerfile
  k8s/agents/devbot/externalsecret.yaml
  k8s/agents/devbot/kustomization.yaml
  k8s/agents/devbot/modelconfig.yaml
  k8s/agents/devbot/namespace.yaml
  k8s/agents/devbot/pvcs.yaml
  k8s/agents/devbot/remotemcpserver.yaml
  k8s/agents/devbot/service.yaml
  k8s/authentik-blueprint/harbor/authentik-provider-tf.yaml
  k8s/kagent/anthropic-secret.yaml
  k8s/kagent/crds-helmrelease.yaml
  k8s/kagent/gitrepository.yaml
  k8s/kagent/helmrelease.yaml
  k8s/kagent/ingress.yaml
  k8s/kagent/kustomization.yaml
  k8s/kagent/namespace.yaml
  scripts/get-passwords
  terraform/authentik-blueprint/harbor/harbor-config.tf
  terraform/authentik-blueprint/harbor/main.tf
  terraform/authentik-blueprint/harbor/variables.tf
Due: prettier, markdownlint, checkov-nix, kustomize-dry-run, terraform-version-centralization

refactor(terraform): clarify 03-configuration is DNS-only
  terraform/03-configuration/data.tf
  terraform/03-configuration/main.tf
  terraform/03-configuration/terraform.tf
  terraform/03-configuration/variables.tf
Due: checkov-nix, terraform-version-centralization

refactor(terraform): remove unused 03-configuration layer
  bootstrap.sh
Due: none

feat(loki): add HTTPS ingress with Authentik SSO
  k8s/loki/ingress.yaml
  k8s/loki/kustomization.yaml
Due: prettier, kustomize-dry-run

Remove unused confusing terraform/03-configuration layer
  docs/PLAN.md
  terraform/03-configuration/data.tf
  terraform/03-configuration/main.tf
  terraform/03-configuration/outputs.tf
  terraform/03-configuration/terraform.tf
  terraform/03-configuration/variables.tf
Due: markdownlint, checkov-nix, terraform-version-centralization

fix(sso): fix Harbor SSO Terraform configuration
  k8s/authentik-blueprint/harbor/admin-password-secret.yaml
  k8s/authentik-blueprint/harbor/authentik-provider-tf.yaml
  k8s/authentik-blueprint/harbor/kustomization.yaml
Due: prettier, kustomize-dry-run

docs: add VPS PowerDNS Docker access instructions to CLAUDE.md
  CLAUDE.md
Due: markdownlint

feat(harbor): implement Vault as SSOT for admin password
  k8s/applications/harbor/admin-password-generator.yaml
  k8s/authentik-blueprint/harbor/admin-password-secret.yaml
  k8s/authentik-blueprint/harbor/authentik-provider-tf.yaml
  k8s/authentik-blueprint/harbor/kustomization.yaml
  terraform/02-services/harbor-admin-password.tf
  terraform/02-services/main.tf
  terraform/authentik-blueprint/harbor/harbor-config.tf
  terraform/authentik-blueprint/harbor/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix(harbor-sso): read password from K8s secret instead of Vault directly
  terraform/authentik-blueprint/harbor/harbor-config.tf
Due: checkov-nix, terraform-version-centralization

fix(harbor): correct ingress hostname and bootstrap dependency
  terraform/02-services/main.tf
  terraform/authentik-blueprint/harbor/variables.tf
Due: checkov-nix, terraform-version-centralization

fix(harbor-sso): correct Harbor URL override in Terraform vars
  k8s/authentik-blueprint/harbor/authentik-provider-tf.yaml
Due: prettier, kustomize-dry-run

fix(powerdns): add externalTrafficPolicy Local to preserve source IPs
  charts/powerdns/templates/service.yaml
Due: prettier

chore(powerdns): bump chart version to 0.1.7
  charts/powerdns/Chart.yaml
Due: prettier

docs(plan): add SSO login validation tasks
  docs/PLAN.md
Due: markdownlint

fix(kagent): remove incorrect port 8443 from Authentik auth URLs
  k8s/kagent/ingress.yaml
Due: prettier, kustomize-dry-run

fix(kagent): remove incorrect port 8443 from Kagent URL
  k8s/authentik-blueprint/kagent/authentik-provider-tf.yaml
Due: prettier, kustomize-dry-run

docs(plan): document VPS Tailscale --accept-routes requirement
  docs/PLAN.md
Due: markdownlint

fix: remove all incorrect port 8443 references
  docs/BOOTSTRAP.md
  k8s/loki/ingress.yaml
Due: prettier, markdownlint, kustomize-dry-run

fix(powerdns): remove externalTrafficPolicy Local for proper routing
  charts/powerdns/Chart.yaml
  charts/powerdns/templates/service.yaml
  docs/PLAN.md
Due: prettier, markdownlint

fix(powerdns): remove externalTrafficPolicy Local for proper routing
  terraform/authentik-blueprint/kagent/main.tf
Due: checkov-nix, terraform-version-centralization

refactor(sso): use Authentik blueprint for Kagent outpost assignment
  docs/PLAN.md
  docs/TROUBLESHOOTING.md
  k8s/authentik/kagent-outpost-blueprint.yaml
  k8s/authentik/kustomization.yaml
  terraform/authentik-blueprint/kagent/main.tf
Due: prettier, markdownlint, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix(powerdns): skip Cilium DNS proxy to allow AXFR zone transfers
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
Due: prettier

fix(sso): assign Kagent provider to embedded outpost via dynamic API query
  k8s/authentik/kagent-outpost-blueprint.yaml
  k8s/authentik/kustomization.yaml
  terraform/authentik-blueprint/kagent/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: use null_resource instead of terraform_data for Terraform 1.3 compatibility
  terraform/authentik-blueprint/kagent/main.tf
Due: checkov-nix, terraform-version-centralization

fix: use wget instead of curl in Terraform provisioner
  terraform/authentik-blueprint/kagent/main.tf
Due: checkov-nix, terraform-version-centralization

refactor: use terraform-provider-restful instead of shell commands for API calls
  terraform/authentik-blueprint/kagent/main.tf
Due: checkov-nix, terraform-version-centralization

fix: add Content-Type header to restful_operation for proper JSON handling
  terraform/authentik-blueprint/kagent/main.tf
Due: checkov-nix, terraform-version-centralization

feat(sso): use Authentik blueprint for Kagent provider assignment
  k8s/authentik-blueprint/kagent/configmap.yaml
  k8s/authentik-blueprint/kagent/kustomization.yaml
  k8s/authentik/helmrelease.yaml
  terraform/authentik-blueprint/kagent/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: resolve Authentik blueprint ConfigMap circular dependency
  k8s/authentik-blueprint/kagent/kustomization.yaml
  k8s/authentik/kagent-blueprint-configmap.yaml
  k8s/authentik/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(powerdns): preserve source IP for AXFR with externalTrafficPolicy Local
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
Due: prettier

fix(powerdns): add externalTrafficPolicy to service template
  charts/powerdns/Chart.yaml
  charts/powerdns/templates/service.yaml
Due: prettier

fix(kagent): use in-cluster auth-url for embedded outpost forward_single mode
  k8s/kagent/ingress.yaml
Due: prettier, kustomize-dry-run

feat(ingress-nginx): enable snippet annotations for Authentik forward auth
  k8s/ingress-nginx/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(powerdns): remove externalTrafficPolicy: Local for Tailscale compatibility
  charts/powerdns/Chart.yaml
  charts/powerdns/templates/service.yaml
  charts/powerdns/values.yaml
Due: prettier

fix(kagent): complete forward_single mode routing for embedded outpost
  k8s/kagent/authentik-proxy-service.yaml
  k8s/kagent/ingress.yaml
  k8s/kagent/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(powerdns): enable TCP MTU probing for PMTUD blackhole mitigation
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
Due: prettier

Revert "fix(powerdns): enable TCP MTU probing for PMTUD blackhole mitigation"
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
Due: prettier

fix(talos,powerdns): enable TCP MTU probing for PMTUD blackhole mitigation
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
  k8s/authentik/bootstrap-external-secret.yaml
  k8s/kagent/ingress.yaml
  terraform/modules/infrastructure/modules/talos-node/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

Path conditions:
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
  checkov-nix: any of: \.tf$
  kustomize-dry-run: any of: ^k8s/.*\.(yaml|yml)$
  helm-template-dry-run: any of: ^terraform/.*cilium.*\.(yaml|yml|tf)$
  terraform-version-centralization: any of: \.tf$
