Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: kubeconform, prettier, markdownlint

kubeconform:
  name: Validate Kubernetes manifests
  entry: kubeconform
  language: system
  args:
  - --ignore-missing-schemas
  - --skip
  - Certificate,Issuer,ClusterIssuer

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

feat(vault): add canonical HashiCorp documentation references
  k8s/vault/instance.yaml
Due: kubeconform, prettier

feat(ci): add kubeconform setup and Bank-Vaults validation
  .pre-commit-config.yaml
  scripts/setup-kubeconform.sh
  scripts/validate-bank-vaults.sh
Due: prettier

feat(ci): replace custom validation with comprehensive kubeconform
  .pre-commit-config.yaml
  scripts/setup-kubeconform.sh
  scripts/validate-bank-vaults.sh
Due: prettier

fix(ci): make kubeconform work without cluster dependency
  .pre-commit-config.yaml
  scripts/setup-kubeconform.sh
Due: prettier

feat(ci): replace complex kubeconform setup with simple remote hook
  .pre-commit-config.yaml
  scripts/setup-kubeconform.sh
Due: prettier

fix(vault): correct Bank-Vaults template processing and environment configuration
  k8s/vault/instance.yaml
  vault-raft-analysis.md
Due: kubeconform, prettier, markdownlint

chore: remove deleted authentik bootstrap sealed secret file after cluster destroy
  k8s/authentik/bootstrap-sealed.yaml
Due: kubeconform, prettier

fix(metallb): resolve circular dependency deadlock in flux kustomizations
  k8s/authentik/bootstrap-sealed.yaml
  k8s/metallb/kustomization.yaml
Due: kubeconform, prettier

feat: add pre-commit hook for deprecated CRD API version validation
  .pre-commit-config.yaml
Due: prettier

fix(powerdns): resolve terraform schema issues and add secret management
  docs/PLAN.md
  k8s/powerdns/deployment.yaml
  k8s/powerdns/kustomization.yaml
  k8s/powerdns/secret-copy.yaml
  k8s/powerdns/secrets.yaml
  k8s/powerdns/terraform.yaml
Due: kubeconform, prettier, markdownlint

fix(storage): regenerate Proxmox CSI sealed secret with current cluster keys
  k8s/storage/proxmox-csi-sealed.yaml
Due: kubeconform, prettier

fix(vault): use pod-specific service names for cluster_addr
  k8s/powerdns/terraform.yaml
  k8s/vault/instance.yaml
Due: kubeconform, prettier

fix(powerdns): add proxmox-csi storage class to PVC
  k8s/powerdns/pvc.yaml
Due: kubeconform, prettier

fix(powerdns): use in_cluster_config for terraform kubernetes backend
  docs/PLAN.md
  k8s/powerdns/secrets.yaml
  k8s/powerdns/terraform.yaml
Due: kubeconform, prettier, markdownlint

feat(powerdns): implement ESO-based secret management for API key
  k8s/core/external-secrets.yaml
  k8s/core/flux-kustomization.yaml
  k8s/core/kustomization.yaml
  k8s/powerdns/bootstrap-api-key-job.yaml
  k8s/powerdns/deployment.yaml
  k8s/powerdns/externalsecret-api-key.yaml
  k8s/powerdns/flux-kustomization.yaml
  k8s/vault/instance.yaml
  terraform/infrastructure/powerdns-bootstrap.tf
Due: kubeconform, prettier

fix(cert-manager): remove circular dependency on PowerDNS
  k8s/cert-manager/flux-kustomization.yaml
Due: prettier

fix(cert-manager): remove flux-kustomization from resources
  k8s/cert-manager/flux-kustomization.yaml
  k8s/cert-manager/kustomization.yaml
Due: prettier

fix(cert-manager): split core installation from configuration
  k8s/cert-manager-config/clusterissuer.yaml
  k8s/cert-manager-config/flux-kustomization.yaml
  k8s/cert-manager-config/kustomization.yaml
  k8s/cert-manager-config/powerdns-webhook.yaml
  k8s/kustomization.yaml
Due: kubeconform, prettier

fix(vault): remove invalid sha256 template function from config
  k8s/vault/instance.yaml
Due: kubeconform, prettier

fix(terraform): correct GitRepository source references from 'cluster' to 'flux-system'
  k8s/authentik/config.yaml
  k8s/authentik/sso-secrets.yaml
  k8s/services-config/services-config.yaml
  k8s/vault/config.yaml
Due: kubeconform, prettier

fix(vault): remove circular dependency on sso-secrets in vault-config
  k8s/vault/config.yaml
Due: kubeconform, prettier

refactor(vault): separate Vault instance from terraform configuration
  k8s/kustomization.yaml
  k8s/vault-config/config.yaml
  k8s/vault-config/flux-kustomization.yaml
  k8s/vault-config/kustomization.yaml
  k8s/vault/kustomization.yaml
Due: kubeconform, prettier

feat(powerdns): implement declarative bootstrap with tofu-controller transition
  k8s/powerdns/externalsecret-api-key.yaml
  k8s/powerdns/kustomization.yaml
  terraform/dns/secrets/main.tf
Due: kubeconform, prettier

fix(powerdns): correct ExternalSecret schema for password generator
  k8s/powerdns/externalsecret-api-key.yaml
Due: kubeconform, prettier

fix(powerdns): use ESO password generator - NO SECRETS IN YAML
  k8s/powerdns/externalsecret-api-key.yaml
Due: kubeconform, prettier

fix(powerdns): remove vault dependency - bootstrap uses ESO generator
  k8s/powerdns/flux-kustomization.yaml
Due: prettier

fix(powerdns): map ESO password key to powerdns_api_key
  k8s/powerdns/externalsecret-api-key.yaml
Due: kubeconform, prettier

feat(powerdns): add SQLite database initialization via init container
  k8s/powerdns/deployment.yaml
  k8s/powerdns/kustomization.yaml
  k8s/powerdns/schema.yaml
Due: kubeconform, prettier

fix(powerdns): fix SQLite database permissions for PowerDNS user
  k8s/powerdns/deployment.yaml
Due: kubeconform, prettier

fix(powerdns): use sqlite3 image and proper security context
  .pre-commit-config.yaml
  k8s/powerdns/deployment.yaml
Due: kubeconform, prettier

fix(powerdns): remove vault dependency from infrastructure terraform
  terraform/infrastructure/powerdns-bootstrap.tf
Due: none

fix(powerdns): add writable volume for control socket
  k8s/powerdns/deployment.yaml
Due: kubeconform, prettier

fix(powerdns): add explicit config-dir command to load our config
  k8s/powerdns/deployment.yaml
Due: kubeconform, prettier

fix(powerdns): disable control socket and clean stale socket files
  k8s/powerdns/deployment.yaml
Due: kubeconform, prettier

fix(powerdns): completely disable control socket with empty socket-dir
  k8s/powerdns/deployment.yaml
Due: kubeconform, prettier

fix(powerdns): use TCP socket probe instead of API for readiness
  k8s/powerdns/deployment.yaml
Due: kubeconform, prettier

fix(cert-manager): temporarily remove PowerDNS dependency for bootstrap
  k8s/cert-manager-config/flux-kustomization.yaml
Due: prettier

fix(cluster): remove deleted bootstrap-sealed.yaml and update preflights
  .claude/skills/cluster-planner/SKILL.md
  .claude/skills/cluster-planner/activity-log-template.md
  .claude/skills/cluster-planner/agent-prompts.md
  .claude/skills/cluster-planner/common-pitfalls.md
  .claude/skills/cluster-planner/examples.md
  .claude/skills/cluster-planner/methodology.md
  .claude/skills/cluster-planner/per-component-checklist-template.md
  .claude/skills/cluster-planner/scratchpad-template.md
  .claude/skills/cluster-planner/sre-tools-and-techniques.md
  .claude/skills/cluster-planner/troubleshooting-checklist.md
  k8s/authentik/bootstrap-sealed.yaml
  terraform/infrastructure/preflights.tf
Due: kubeconform, prettier, markdownlint

feat: add cluster planner skill and fix remaining cluster state
  .claude/skills/cluster-planner/SKILL.md
  .claude/skills/cluster-planner/activity-log.md
  .claude/skills/cluster-planner/dependency-matrix.md
Due: markdownlint

Path conditions:
  kubeconform: any of: ^k8s/.*\.yaml$, but not: (flux-system/|flux-kustomization|kustomization|cilium-bootstrap-values)\.yaml$
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
