Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

checkov-nix:
  name: Checkov security analysis (via nix)
  entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
  language: system
  pass_filenames: false

kustomize-dry-run:
  name: Validate Kustomize builds (parallel)
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

helm-template-dry-run:
  name: Validate Helm templates
  entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
  language: system
  ...

terraform-version-centralization:
  name: Prevent terraform provider version redefinitions
  ...

fix: remove fallback behavior from flux build validation
  scripts/validate-flux-build.py
Due: none

fix: update external-secrets dependencies after split
  k8s/authentik/flux-kustomization.yaml
  k8s/powerdns/flux-kustomization.yaml
  scripts/validate-dependencies.py
Due: prettier, kustomize-dry-run

fix: authentik external-secrets use ClusterSecretStore
  k8s/authentik/postgres-external-secret.yaml
Due: prettier, kustomize-dry-run

fix: update gitea, harbor, matrix to depend on external-secrets-config
  k8s/applications/gitea/flux-kustomization.yaml
  k8s/applications/harbor/flux-kustomization.yaml
  k8s/applications/matrix/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

fix: configure authentik secret key using official envFrom pattern
  k8s/authentik/helmrelease.yaml
  k8s/authentik/secret-key-external-secret.yaml
Due: prettier, kustomize-dry-run

fix: include all required secrets in server/worker envFrom
  k8s/authentik/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: remove double base64 encoding from PostgreSQL password
  k8s/authentik/postgres-external-secret.yaml
Due: prettier, kustomize-dry-run

refactor: move terraform configs out of authentik kustomization
  k8s/authentik-config/config.yaml
  k8s/authentik-config/flux-kustomization.yaml
  k8s/authentik-config/kustomization.yaml
  k8s/authentik-config/sso-secrets.yaml
  k8s/authentik/kustomization.yaml
  k8s/kustomization.yaml
  terraform/gitops/secrets/main.tf
  terraform/gitops/secrets/outputs.tf
  terraform/gitops/secrets/variables.tf
  terraform/gitops/vault/main.tf
  terraform/gitops/vault/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: remove unnecessary authentik-postgres-production external secret
  k8s/authentik/postgres-external-secret.yaml
Due: prettier, kustomize-dry-run

fix: correct authentik-config terraform path to ./terraform/gitops/secrets
  k8s/authentik-config/config.yaml
Due: prettier, kustomize-dry-run

fix: configure Vault authentication for terraform provider
  k8s/authentik-config/config.yaml
  terraform/gitops/secrets/main.tf
  terraform/gitops/secrets/variables.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: use same-namespace vault token secret for terraform varsFrom
  k8s/authentik-config/config.yaml
Due: prettier, kustomize-dry-run

fix: update sso-secrets terraform to use correct vault address and token
  k8s/authentik-config/sso-secrets.yaml
Due: prettier, kustomize-dry-run

fix: remove non-existent authentik_bootstrap_token from sso-secrets outputs
  k8s/authentik-config/sso-secrets.yaml
Due: prettier, kustomize-dry-run

fix: configure gitea secrets using ESO password generator and vault client secret
  k8s/applications/gitea/helmrelease.yaml
  k8s/applications/gitea/secrets.yaml
Due: prettier, kustomize-dry-run

fix: add username key to gitea admin secret template
  k8s/applications/gitea/helmrelease.yaml
  k8s/applications/gitea/secrets.yaml
Due: prettier, kustomize-dry-run

fix: enable PostgreSQL for Gitea with proper database configuration
  k8s/applications/gitea/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: remove manual database config, let Helm chart auto-configure PostgreSQL
  k8s/applications/gitea/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: simplify PostgreSQL config to use Helm chart auto-generation
  k8s/applications/gitea/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix: update Gitea Helm chart to latest version 12.4.0
  k8s/applications/gitea/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat: configure ESO-generated PostgreSQL passwords for Gitea
  k8s/applications/gitea/helmrelease.yaml
  k8s/applications/gitea/secrets.yaml
Due: prettier, kustomize-dry-run

fix: remove ESO PostgreSQL secrets, let Gitea chart auto-generate PostgreSQL passwords
  k8s/applications/gitea/helmrelease.yaml
  k8s/applications/gitea/secrets.yaml
Due: prettier, kustomize-dry-run

fix: use full PostgreSQL chart auto-management by removing hardcoded password values
  k8s/applications/gitea/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat: enable ingress for Gitea with nginx controller
  k8s/applications/gitea/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat: add declarative Tailscale route auto-approval for DNS delegation
  docs/PLAN.md
  terraform/modules/infrastructure/nodes.tf
Due: markdownlint, checkov-nix, terraform-version-centralization

ci: add GitHub Actions workflow for pre-commit validation
  .github/workflows/pre-commit.yml
Due: prettier

fix: configure NIX_PATH for GitHub Actions runner
  .github/workflows/pre-commit.yml
Due: prettier

fix: use pip --user to install pre-commit in GitHub Actions
  .github/workflows/pre-commit.yml
Due: prettier

chore: remove empty plan.tfplan file
  plan.tfplan
Due: none

fix: correct --advertise-tags syntax for Tailscale route auto-approval
  terraform/modules/infrastructure/nodes.tf
Due: checkov-nix, terraform-version-centralization

fix: use local variables for VIP routes in Tailscale config
  terraform/modules/infrastructure/nodes.tf
Due: checkov-nix, terraform-version-centralization

fix: terraform fmt formatting on infrastructure outputs
  CLAUDE.md
  bootstrap.sh
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/00-persistent-auth/main.tf
  terraform/00-persistent-auth/outputs.tf
  terraform/00-persistent-auth/variables.tf
  terraform/01-infrastructure/main.tf
  terraform/01-infrastructure/outputs.tf
  terraform/01-infrastructure/sealed-secrets-keypair.tf
  terraform/modules/pve-auth/main.tf
  terraform/modules/pve-auth/outputs.tf
Due: prettier, markdownlint, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: update CSI sealed secret with latest token
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

feat: implement per-service SSO architecture with ESO secret generation
  k8s/applications/gitea/flux-kustomization.yaml
  k8s/applications/matrix/flux-kustomization.yaml
  k8s/authentik-config/authentik-api-token.yaml
  k8s/kustomization.yaml
  k8s/sso/gitea/authentik-provider-tf.yaml
  k8s/sso/gitea/client-secret-eso.yaml
  k8s/sso/gitea/flux-kustomization.yaml
  k8s/sso/gitea/kustomization.yaml
  k8s/sso/harbor/authentik-provider-tf.yaml
  k8s/sso/harbor/client-secret-eso.yaml
  k8s/sso/harbor/flux-kustomization.yaml
  k8s/sso/harbor/kustomization.yaml
  k8s/sso/matrix/authentik-provider-tf.yaml
  k8s/sso/matrix/flux-kustomization.yaml
  k8s/sso/matrix/kustomization.yaml
  k8s/storage/proxmox-csi-retain.yaml
  terraform/sso/gitea/main.tf
  terraform/sso/gitea/variables.tf
  terraform/sso/gitea/versions.tf
  terraform/sso/harbor/main.tf
  terraform/sso/harbor/variables.tf
  terraform/sso/harbor/versions.tf
  terraform/sso/matrix/main.tf
  terraform/sso/matrix/variables.tf
  terraform/sso/matrix/versions.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: configure Harbor with Ingress and Let's Encrypt certificates
  k8s/applications/harbor/certificate.yaml
  k8s/applications/harbor/helmrelease.yaml
  k8s/applications/harbor/kustomization.yaml
Due: prettier, kustomize-dry-run

fix: implement PowerDNS API key via ESO and fix VPS delegation
  k8s/powerdns/api-key-eso.yaml
  k8s/powerdns/kustomization.yaml
  k8s/powerdns/terraform.yaml
  terraform/dns/powerdns/main.tf
  terraform/dns/powerdns/variables.tf
  terraform/dns/secrets/main.tf
  terraform/dns/secrets/outputs.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix: resolve ESO cross-namespace generator reference issue
  k8s/powerdns/api-key-eso.yaml
Due: prettier, kustomize-dry-run

feat: deploy Reflector for cross-namespace secret synchronization
  k8s/kustomization.yaml
  k8s/powerdns/api-key-eso.yaml
  k8s/powerdns/flux-kustomization.yaml
  k8s/reflector/flux-kustomization.yaml
  k8s/reflector/helmrelease.yaml
  k8s/reflector/kustomization.yaml
  k8s/reflector/namespace.yaml
Due: prettier, kustomize-dry-run

clean: use Reflector key transformation instead of duplicating keys
  k8s/powerdns/api-key-eso.yaml
Due: prettier, kustomize-dry-run

fix: correct ESO password template reference
  k8s/powerdns/api-key-eso.yaml
Due: prettier, kustomize-dry-run

Path conditions:
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
  checkov-nix: any of: \.tf$
  kustomize-dry-run: any of: ^k8s/.*\.(yaml|yml)$
  helm-template-dry-run: any of: ^terraform/.*cilium.*\.(yaml|yml|tf)$
  terraform-version-centralization: any of: \.tf$
