Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, kustomize-dry-run, helm-template-dry-run

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: flux-system/
      - id: check-merge-conflict

  - repo: https://github.com/zrootorg/kubeconform-precommit-hook
    rev: 7f0288e2809173c0c9eeff05c5ff7bcceabb90d4 # 2023-07-11 latest
    hooks:
      - id: kubeconform
        args: [-p, k8s/]

  - repo: local
    hooks:
      - id: prettier
        name: Format YAML files
        entry: prettier
        language: system
        types: [yaml]
        exclude: (flux-system/|\.ya?ml\.j2$)
        args: ["--write", "--print-width", "120"]

  - repo: local
    hooks:
      - id: markdownlint
        name: Lint Markdown files
        entry: markdownlint
        language: system
        types: [markdown]
        args: ["--fix", "--config", ".markdownlint.json"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/antonbabenko/pre-commit-terraform
    rev: v1.103.0
    hooks:
      - id: terraform_fmt
        args:
          - --args=-recursive

  - repo: local
    hooks:
      - id: kustomize-dry-run
        name: Validate Kustomize builds (parallel)
        entry: python3 scripts/validate-kustomizations.py
        language: system
        files: ^k8s/.*\.(yaml|yml)$
        pass_filenames: false

      - id: helm-template-dry-run
        name: Validate Helm templates
        entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
        language: system
        files: ^terraform/.*cilium.*\.(yaml|yml|tf)$
        pass_filenames: false

fix: correct ExternalSecret schema and final terraform linting
  k8s/authentik/bootstrap-external-secret.yaml
  k8s/authentik/helmrelease.yaml
Due: prettier, kustomize-dry-run

feat: replace hardcoded Authentik secret_key with ESO-generated secure key
  k8s/authentik/helmrelease.yaml
  k8s/authentik/kustomization.yaml
  k8s/authentik/secret-key-external-secret.yaml
Due: prettier, kustomize-dry-run

feat: auto-generate Authentik admin password via ESO
  k8s/authentik/admin-password-external-secret.yaml
  k8s/authentik/helmrelease.yaml
  k8s/authentik/kustomization.yaml
Due: prettier, kustomize-dry-run

docs: update BOOTSTRAP.md for consolidated terraform and ESO approach
  docs/BOOTSTRAP.md
Due: markdownlint

fix: configure tflint to understand terraform module architecture
  .tflint.hcl
  k8s/authentik/admin-password-external-secret.yaml
  k8s/authentik/secret-key-external-secret.yaml
  terraform/main.tf
  terraform/modules/.tflint.hcl
  terraform/modules/gitops/variables.tf
  terraform/modules/infrastructure/locals.tf
Due: prettier, kustomize-dry-run

docs: add TODO to reconsider tflint rules in future
  docs/PLAN.md
Due: markdownlint

fix: complete terraform provider refactoring
  terraform/main.tf
  terraform/variables.tf
Due: none

feat: implement layered terraform architecture with proper provider separation
  bootstrap-layered.sh
  terraform/01-infrastructure/main.tf
  terraform/01-infrastructure/outputs.tf
  terraform/01-infrastructure/terraform.tf
  terraform/01-infrastructure/variables.tf
  terraform/02-services/data.tf
  terraform/02-services/main.tf
  terraform/02-services/outputs.tf
  terraform/02-services/terraform.tf
  terraform/03-configuration/data.tf
  terraform/03-configuration/main.tf
  terraform/03-configuration/outputs.tf
  terraform/03-configuration/terraform.tf
  terraform/03-configuration/variables.tf
  terraform/main.tf
Due: none

feat: replace bootstrap.sh with layered approach and remove duplicate script
  bootstrap.sh
Due: none

fix: remove invalid provider configurations from layer 1
  terraform/01-infrastructure/main.tf
Due: none

fix: add Flux provider configuration and enable Flux bootstrap in Layer 1
  terraform/01-infrastructure/main.tf
  terraform/modules/infrastructure/flux.tf
  terraform/modules/infrastructure/variables.tf
Due: none

refactor: move Flux bootstrap from Layer 1 to Layer 2
  terraform/01-infrastructure/main.tf
  terraform/01-infrastructure/terraform.tf
  terraform/02-services/main.tf
  terraform/02-services/terraform.tf
Due: none

fix: update Proxmox provider to use port 443 instead of 8006
  terraform/01-infrastructure/main.tf
Due: none

feat: hardcode headscale_user as 'agentydragon' in terraform config
  bootstrap.sh
  terraform/01-infrastructure/variables.tf
Due: none

refactor: complete terraform provider dependency chain and layered architecture
  terraform/01-infrastructure/cilium.tf
  terraform/01-infrastructure/main.tf
  terraform/01-infrastructure/sealed-secrets-keypair.tf
Due: helm-template-dry-run

feat: complete module restructuring and documentation updates
  docs/BOOTSTRAP.md
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/modules/infrastructure/cilium.tf
  terraform/modules/infrastructure/flux.tf
  terraform/modules/infrastructure/outputs.tf
  terraform/modules/infrastructure/sealed-secrets-keypair.tf
  terraform/modules/storage/main.tf
Due: prettier, markdownlint, kustomize-dry-run, helm-template-dry-run

chore: remove duplicate bootstrap-layered.sh script
  bootstrap-layered.sh
Due: none

fix: resolve markdown linting issues in BOOTSTRAP.md
  docs/BOOTSTRAP.md
Due: markdownlint

Add Flux v2.7.3 component manifests
  k8s/flux-system/gotk-components.yaml
Due: kustomize-dry-run

Add Flux sync manifests
  k8s/flux-system/gotk-sync.yaml
Due: kustomize-dry-run

fix: remove external-secrets reference from core kustomization
  k8s/core/kustomization.yaml
Due: prettier, kustomize-dry-run

fix: separate Flux deployment from service configuration
  terraform/01-infrastructure/outputs.tf
  terraform/02-services/main.tf
  terraform/02-services/outputs.tf
  terraform/02-services/terraform.tf
Due: none

fix: remove duplicate external-secrets configuration causing RBAC conflicts
  k8s/core/external-secrets.yaml
Due: prettier, kustomize-dry-run

chore: update proxmox csi sealed secret with new keypair
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

feat: auto-regenerated sealed secret after cluster bootstrap
  k8s/storage/proxmox-csi-sealed.yaml
Due: prettier, kustomize-dry-run

fix: use kubeconfig_data for Layer 2 provider authentication
  terraform/02-services/main.tf
Due: none

fix: correct Proxmox CSI secret name to match deployment expectation
  k8s/authentik/flux-kustomization.yaml
  k8s/ingress-nginx/flux-kustomization.yaml
  k8s/storage/proxmox-csi-sealed.yaml
  scripts/validate-dependencies.py
Due: prettier, kustomize-dry-run

feat: add comprehensive GitOps validation to pre-commit
  .pre-commit-config.yaml
  scripts/validate-dependencies.py
  scripts/validate-flux-build.py
Due: prettier

feat: add external-secrets duplicate detection to pre-commit validation
  .pre-commit-config.yaml
  plan.tfplan
  scripts/validate-kustomizations.py
  terraform/02-services/main.tf
Due: prettier

fix: set KUBECONFIG environment in wait_for_k8s_api terraform resource
  terraform/01-infrastructure/cilium.tf
Due: helm-template-dry-run

refactor: use dataclasses instead of raw dict manipulation in dependency validation
  scripts/validate-dependencies.py
Due: none

fix: kubectl/talosctl config file setup for CLI access
  .envrc
  bootstrap.sh
  terraform/01-infrastructure/main.tf
Due: none

fix: generate Proxmox CSI sealed secret with real credentials
  k8s/storage/proxmox-csi-sealed.yaml
  terraform/main.tf
Due: prettier, kustomize-dry-run

fix: enable installCRDs for external-secrets
  k8s/external-secrets/external-secrets.yaml
  k8s/storage/proxmox-csi-sealed-new.yaml
  terraform/modules/storage/main.tf
Due: prettier, kustomize-dry-run

temp: disable ClusterSecretStore to allow CRD installation
  k8s/external-secrets/cluster-secret-store.yaml.disabled
Due: none

revert: restore ClusterSecretStore - disabling it was backwards logic
  k8s/external-secrets/cluster-secret-store.yaml
Due: prettier, kustomize-dry-run

feat: split external-secrets into operator + config phases
  k8s/external-secrets-operator/external-secrets.yaml
  k8s/external-secrets-operator/flux-kustomization.yaml
  k8s/external-secrets-operator/kustomization.yaml
  k8s/external-secrets/external-secrets-config.yaml
  k8s/external-secrets/flux-kustomization.yaml
Due: prettier, kustomize-dry-run

feat: add external-secrets-operator to main kustomization
  k8s/kustomization.yaml
Due: prettier, kustomize-dry-run

fix: add self-signed issuer for external-secrets webhook
  k8s/external-secrets-operator/external-secrets.yaml
Due: prettier, kustomize-dry-run

fix: correct external-secrets webhook certificate issuer configuration
  k8s/external-secrets-operator/external-secrets.yaml
  k8s/external-secrets-operator/issuer.yaml
  k8s/external-secrets-operator/kustomization.yaml
Due: prettier, kustomize-dry-run
