Repository agentydragon/cluster: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, markdownlint, checkov-nix, kustomize-dry-run, helm-template-dry-run, terraform-version-centralization

prettier:
  name: Format YAML files
  entry: prettier
  language: system
  args:
  - --write
  - --print-width
  - '120'

markdownlint:
  name: Lint Markdown files
  entry: markdownlint
  language: system
  args:
  - --fix
  - --config
  - .markdownlint.json

checkov-nix:
  name: Checkov security analysis (via nix)
  entry: nix-shell -p checkov --run 'checkov --framework terraform --skip-check CKV_TF_1'
  language: system
  pass_filenames: false

kustomize-dry-run:
  name: Validate Kustomize builds (parallel)
  entry: python3 scripts/validate-kustomizations.py
  language: system
  pass_filenames: false

helm-template-dry-run:
  name: Validate Helm templates
  entry: bash -c 'find terraform/ -name "cilium" -type d | while read d; do if [[ -f "$d/values.yaml" ]]; then echo "Templating Helm chart in $d..."; helm template test-release cilium/cilium -f "$d/values.yaml" --dry-run >/dev/null || exit 1; fi; done'
  language: system
  ...

terraform-version-centralization:
  name: Prevent terraform provider version redefinitions
  ...

fix(terraform): remove legacy storage module reference
  terraform/main.tf
Due: checkov-nix, terraform-version-centralization

fix(terraform): remove storage module from outputs
  terraform/outputs.tf
Due: checkov-nix, terraform-version-centralization

fix(talos): use kubelet extraArgs for allowed-unsafe-sysctls
  terraform/modules/infrastructure/modules/talos-node/main.tf
Due: checkov-nix, terraform-version-centralization

fix(powerdns): enable privileged PodSecurity for unsafe sysctls
  k8s/powerdns/namespace.yaml
Due: prettier, kustomize-dry-run

fix(sso): replace Authentik blueprint with terraform outpost management for Kagent
  k8s/authentik/helmrelease.yaml
  k8s/authentik/kagent-blueprint-configmap.yaml
  k8s/authentik/kustomization.yaml
  terraform/authentik-blueprint/kagent/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

docs: document TCP MTU probing solution for AXFR PMTUD blackhole
  docs/AXFR_DEBUGGING.md
  docs/PLAN.md
Due: markdownlint

docs: update README with correct DNS architecture and AXFR_DEBUGGING link
  README.md
Due: markdownlint

fix(sso): replace import block with restful_operation for Kagent outpost assignment
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
  k8s/powerdns-zones/clusterzone.yaml
  terraform/authentik-blueprint/kagent/main.tf
Due: prettier, checkov-nix, kustomize-dry-run, terraform-version-centralization

fix(sso): correct restful provider security configuration for Kagent
  terraform/authentik-blueprint/kagent/main.tf
Due: checkov-nix, terraform-version-centralization

fix(sso): simplify outpost assignment with null_resource wget
  terraform/authentik-blueprint/kagent/main.tf
Due: checkov-nix, terraform-version-centralization

fix(sso): use curl instead of wget for PATCH request
  terraform/authentik-blueprint/kagent/main.tf
Due: checkov-nix, terraform-version-centralization

feat(powerdns): enable primary mode for DNS NOTIFY support
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
Due: prettier

fix(powerdns): use VPS public IP instead of hostname for also-notify
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
Due: prettier

fix(powerdns): use Tailscale IP for NOTIFY to avoid NAT
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
  docs/KAGENT_SSO.md
  terraform/authentik-blueprint/kagent/main.tf
Due: prettier, markdownlint, checkov-nix, terraform-version-centralization

fix(kagent): add X-Original-URL header for Authentik forward auth
  k8s/kagent/ingress.yaml
Due: prettier, kustomize-dry-run

refactor(kagent): simplify forward auth to use auth subdomain only
  k8s/kagent/ingress.yaml
Due: prettier, kustomize-dry-run

fix(kagent): add authentication flow to proxy provider
  terraform/authentik-blueprint/kagent/main.tf
Due: checkov-nix, terraform-version-centralization

fix(kagent): use same-domain mounting for Authentik outpost endpoints
  k8s/kagent/ingress.yaml
Due: prettier, kustomize-dry-run

docs(plan): document DNS NOTIFY limitation and alternatives
  docs/PLAN.md
Due: markdownlint

fix(authentik): add AUTHENTIK_HOST for embedded outpost redirects
  k8s/authentik/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(authentik): use global.env instead of server.env for AUTHENTIK_HOST
  k8s/authentik/helmrelease.yaml
Due: prettier, kustomize-dry-run

fix(authentik): use ConfigMap for AUTHENTIK_HOST environment variable
  k8s/authentik/authentik-host-configmap.yaml
  k8s/authentik/helmrelease.yaml
  k8s/authentik/kustomization.yaml
Due: prettier, kustomize-dry-run

revert: remove non-functional DNS NOTIFY configuration
  charts/powerdns/Chart.yaml
  charts/powerdns/values.yaml
  docs/PLAN.md
  k8s/powerdns-zones/clusterzone.yaml
Due: prettier, markdownlint, kustomize-dry-run

feat(kagent): create dedicated outpost for forward auth
  terraform/authentik-blueprint/kagent/main.tf
Due: checkov-nix, terraform-version-centralization

fix(kagent): use dedicated outpost service for forward auth
  k8s/kagent/authentik-proxy-service.yaml
  k8s/kagent/ingress.yaml
Due: prettier, kustomize-dry-run

feat: increase worker RAM to 12GB (50% increase)
  terraform/modules/infrastructure/modules/talos-node/main.tf
Due: checkov-nix, terraform-version-centralization

chore: fix markdown lint errors to unblock bootstrap
  docs/GITEA_TOKEN_AUTOMATION.md
  docs/HARBOR_SSO_AUTOMATION.md
  docs/KAGENT_SSO.md
  docs/OPERATIONS.md
Due: markdownlint

chore: disable MD013 for AXFR_DEBUGGING.md (technical doc with long commands)
  docs/AXFR_DEBUGGING.md
Due: markdownlint

chore: fix remaining markdown lint errors in AXFR_DEBUGGING.md
  docs/AXFR_DEBUGGING.md
Due: markdownlint

fix: remove non-existent 03-configuration layer from bootstrap
  bootstrap.sh
Due: none

fix: move Harbor admin password to GitOps terraform layer
  terraform/02-services/harbor-admin-password.tf
  terraform/02-services/main.tf
  terraform/gitops/secrets/main.tf
Due: checkov-nix, terraform-version-centralization

fix: correct Vault ingress cert-manager issuer name
  k8s/vault/ingress.yaml
Due: prettier, kustomize-dry-run

fix(vault): split TLS certificates for internal and external use
  k8s/vault/certificate.yaml
  k8s/vault/ingress.yaml
  k8s/vault/instance.yaml
  k8s/vault/internal-tls-certificate.yaml
  k8s/vault/internal-tls-issuer.yaml
  k8s/vault/kustomization.yaml
Due: prettier, kustomize-dry-run

fix(vault): configure all clients to use HTTPS and trust internal CA
  k8s/external-secrets/external-secrets-config.yaml
  k8s/powerdns/bootstrap-api-key-job.yaml
  k8s/powerdns/externalsecret-api-key.yaml
  k8s/sso-secrets/sso-secrets-tf.yaml
  k8s/vault-oidc-auth/config.yaml
Due: prettier, kustomize-dry-run

fix: remove empty caBundle field from vault secret stores
  k8s/external-secrets/external-secrets-config.yaml
  k8s/powerdns/externalsecret-api-key.yaml
Due: prettier, kustomize-dry-run

fix(terraform): correct runnerPodTemplate schema for CA volume mounts
  k8s/sso-secrets/sso-secrets-tf.yaml
  k8s/vault-oidc-auth/config.yaml
Due: prettier, kustomize-dry-run

fix(vault): add Reflector annotations for automatic CA cert distribution
  k8s/vault/internal-tls-certificate.yaml
Due: prettier, kustomize-dry-run

fix(vault): add Reflector annotations to certificate secretTemplate
  k8s/vault/internal-tls-certificate.yaml
Due: prettier, kustomize-dry-run

fix(vault): use KV v2 API for SSO client secrets
  terraform/gitops/secrets/main.tf
Due: checkov-nix, terraform-version-centralization

fix(gitea): correct ExternalSecret target name and key for OAuth Job
  k8s/applications/gitea/secrets.yaml
Due: prettier, kustomize-dry-run

Path conditions:
  prettier: any of: \.(yaml|yml)$, but not: (flux-system/|\.ya?ml\.j2$)
  markdownlint: any of: \.(md|markdown|mdown)$
  checkov-nix: any of: \.tf$
  kustomize-dry-run: any of: ^k8s/.*\.(yaml|yml)$
  helm-template-dry-run: any of: ^terraform/.*cilium.*\.(yaml|yml|tf)$
  terraform-version-centralization: any of: \.tf$
